extends ../../common/layout

block content
  h1 Par MLVV

  p &bdquo;Mūsdienu latviešu valodas vārdnīca&rdquo; (MLVV), kas top LU Latviešu valodas institūtā kopš 1997. gada (elektroniskā versija kopš 2003. gada), ir jauna latviešu valodas skaidrojošā vārdnīca, kas balstīta uz pēdējo gadu desmitu latviešu valodas materiāla. Vārdu krājuma leksikosemantiskajai analīzei izmantota MLVV kartotēka, materiāli no interneta, Mūsdienu latviešu valodas korpuss, kā arī pēdējos gados iznākušās vārdnīcas un enciklopēdijas.
  
  p MLVV ir vārdnīca, kas neaprobežojas tikai ar kādas atsevišķas leksikas daļas (piem., svešvārdu, terminu) analīzi, bet atspoguļo mūsdienu latviešu valodas leksiku visā kopumā, atklājot gan jauno vārdu semantiku, gan semantiskās pārmaiņas latviešu valodas pamatleksikā. Vārdnīca aptver dažādus latviešu valodas slāņus, ierobežotā skaitā iekļauti arī izplatītākie neliterārās leksikas vārdi, &#x123;ermāniskie barbarismi u. c.
  
  p Augu un dzīvnieku nosaukumu skaidrojumi papildināti ar attiecīgās dzimtas vai &#x123;ints (dažos gadījumos &ndash; sugas) latīnisko nosaukumu.
  
  p MLVV ir dotas norādes par vārda cilmi aizgūtiem vārdiem un latviešu valodnieku, literātu un kultūras darbinieku darinātajiem jaunvārdiem.
  
  p Pie atsevišķiem šķirkļiem uz pelēkā krāsā ietonēta fona pievienots komentārs no valodas kultūras viedokļa, ja ar attiecīgo šķirkļa vārdu saistās kļūmes izrunā, pareizrakstībā vai gramatisko formu lietošanā, ja notikusi attiecīgā šķirkļa vārda ortogrāfijas maiņa, kā arī tad, ja kāds vārds, vārda nozīme vai vārdu savienojums latviešu valodā ir nevēlams un aizstājams ar citu.
  
  p Vārdnīca paredzēta plašam lietotāju lokam: gan vecāko klašu skolēniem, gan studentiem, gan arī tiem, kuru ikdienas darbs saistīts ar valodu &ndash; tulkiem, tulkotājiem, redaktoriem, valodu skolotājiem u. c. Kamēr nav izveidotas speciālas skaidrojošās vārdnīcas latviešu valodas apguvējiem, šo vārdnīcu varēs izmantot arī tie, kuri mācās latviešu valodu.

  h2 Sadarbības partneri un finansiālie atbalstītāji

  div Sadarbības projekts &bdquo;Letonika&rdquo; (1997&ndash;2005)
  div Sadarbības projekts &bdquo;Latvijas kultūrtelpa Eiropas kontekstā&rdquo; (2006&ndash;2009)
  div Valsts valodas a&#x123;entūra (2003&ndash;2008)
  div Valsts pētījumu programma &bdquo;Letonika&rdquo; (2006&ndash;2009)
  div Valsts pētījumu programma &bdquo;Nacionālā identitāte&rdquo; (2010&ndash;2013)
  div Valsts pētījumu programma &bdquo;Letonika&rdquo; (2014&ndash;2017)
  div Valsts pētījumu programma &bdquo;Latviešu valoda&rdquo; (2018&ndash;2021)
  div Valsts pētījumu programma &bdquo;Humanitāro zinātņu digitālie resursi&rdquo; (2020&ndash;2022)
