extends ../../common/layout

block content
  h1 Autori
  div
    span.subtitle Ieva Auziņa
    |  (no 2021. gada)
  div
    span.subtitle Santa Briede
    |  (no 2014. gada)
  div
    span.subtitle Ieva Kuplā
    |  (no 2010. līdz 2015. gadam)
  div
    span.subtitle Gunta Lejniece
    |  (2007., 2008., 2012., 2013. gadā)
  div
    span.subtitle Ilga Migla
    |  (no 2003. gada)
  div
    span.subtitle Laimdota Oldere
    |  (no 1997. līdz 2013. gadam)
  div
    span.subtitle Ārija Ozola
    |  (no 1997. līdz 2013. gadam)
  div
    span.subtitle Vija Požarnova
    |  (no 2016. līdz 2017. gadam)
  div
    span.subtitle Lauma Pretkalniņa
    |  (mašīnlasāmās versijas autore, no 2018. gada)
  div
    span.subtitle Anitra Roze
    |  (no 2006. gada, redaktore no 2014. gada)
  div
    span.subtitle Imants Šmidebergs
    |  (no 1997. līdz 2013. gadam)
  div
    span.subtitle Dorisa Šnē
    |  (no 1997. līdz 2000. gadam)
  div
    span.subtitle Māra Šnē
    |  (no 1997. līdz 2003. gadam)
  div
    span.subtitle Agris Timuška
    |  (2013. gadā; no 2021. gada)
  div
    span.subtitle Ieva Zuicena
    |  (šķirkļu autore un redaktore no 1997. līdz 2013. gadam)
