extends ../../common/layout

block content
  h1 Avoti un literatūra
  
  .biblio Angļu&ndash;latviešu&ndash;krievu informātikas vārdnīca. R.: Avots, 2001.
  .biblio
    | Angļu&ndash;latviešu skaidrojošā datorvārdnīca. Sast. #[em L. Leikuma, S. Zariņa, M. Ābeltiņš]. R.: Jumava, 1998.
  .biblio
    em Baumanis J., Blūms P.
    |  Latvijas putni. R.: Liesma, 1969.
  .biblio Biznesa terminu skaidrojošā vārdnīca. Kamene, 2001.
  .biblio
    em Bušs O., Ernstsone V.
    |  Latviešu valodas slenga vārdnīca. R.: Norden AB, 2006.
  .biblio
    em Ceplīte B., Ceplītis L.
    |  Latviešu valodas praktiskā gramatika. R.: Zvaigzne, 1991.
  .biblio
    em Ēdelmane I., Ozola Ā.
    |  Latviešu valodas augu nosaukumi. R.: SIA &bdquo;Augsburgas institūts&rdquo;, 2003.
  .biblio
    em Ēdelmane I., Ozola Ā.
    |  Latviešu valodas augu nosaukumi. Pielikums. Augu nosaukumu alfabētiskais rādītājs. R.: LU Latviešu valodas institūts, 2007.
  .biblio Ekonomikas un finanšu vārdnīca. R.: Norden AB, 2003.
  .biblio
    | Eponīmu vārdnīca. Sast. #[em B. Bankava]. R.: Madonas poligrāfists, 2007.
  .biblio
    em Freimane I.
    |  Valodas kultūra teorētiskā skatījumā. R.: Zvaigzne, 1993.
  .biblio
    em Galenieks P.
    |  Augu sistemātika. R.: LVI, 1960.
  .biblio
    em Guļevska. D., Miķelsone.
    |  A. Latviešu valodas pareizrakstības vārdnīca skolām. R.: Jumava, 2004.
  .biblio Ideju vārdnīca. R.: Zvaigzne ABC, 1999.
  .biblio Juridisko terminu vārdnīca. R.: Nordik. 1998.
  .biblio
    em Kārkliņš L.
    |  Mūzikas leksikons. R.: Zvaigzne, 1990.
  .biblio
    em Karulis K.
    |  Latviešu etimoloģijas vārdnīca. R.: Avots, 1992. 1.&ndash;2. sēj.
  .biblio
    em Kursīte J.
    |  Dzejas vārdnīca. R.: Zinātne, 2002.
  .biblio Latviešu konversācijas vārdnīca. R.: 1927&ndash;1940. 1.&ndash;21. sēj.
  .biblio Latviešu literārās valodas vārdnīca. R.: Zinātne, 1972&ndash;1996. 1.&ndash;8. sēj.
  .biblio
    | Latviešu valodas pareizrakstības un pareizrunas vārdnīca. Sast. #[em Ceplītis L., Miķelsone A., Porīte T., Raģe S.] R.: Avots, 1995.
  .biblio Latviešu valodas vārdnīca. R.: Avots, 1. izd. 1987, 2. izd. 2006.
  .biblio
    | Latvijas dzīvnieku pasaule. Bioloģijas zinātņu doktora #[em Z. Spura] redakcijā. R.: Liesma, 1974.
  .biblio
    | Latvijas enciklopēdija. 1.&ndash;5. sēj. R.: SIA Valerija Belokoņa izdevniecība, 2002&ndash;2009.
  .biblio
    | Latvijas padomju enciklopēdija. R.: Galvenā enciklopēdiju redakcija, 1981&ndash;1988. 1.&ndash;10. sēj.
  .biblio
    em Laua A., Ezeriņa A., Veinberga S.
    |  Latviešu frazeoloģijas vārdnīca. R.: Avots, [1996]. 1.&ndash;2. sēj.
  .biblio
    | Lauksaimniecības enciklopēdija. 1. sēj. R.: LVI, 1962.; 2.&ndash;4. sēj. R.: Liesma, 1966&ndash;1971.
  .biblio Lielā enciklopēdiskā vārdnīca. R.: Jumava, 2003.
  .biblio Medicīnas svešvārdu vārdnīca. R.: Avots, 2007.
  .biblio
    em Mīlenbahs K.
    |  Latviešu valodas vārdnīca. Rediģējis, papildinājis, turpinājis un pabeidzis #[em J. Endzelīns]. R., 1923&ndash;1932. 1.&ndash;4. sēj.
  .biblio Mitoloģijas vārdnīca. R.: Avots, 2004.
  .biblio
    | Mūsdienu latviešu literārās valodas gramatika. I daļa. R.: LPSR ZA izdevniecība, 1959.
  .biblio
    | Mūzikas terminu vārdnīca. Sast. #[em D. Albina]. R.: LVI, 1962.
  .biblio
    em Paegle Dz.
    |  Latviešu literārās valodas morfoloģija. I daļa. R.: Zinātne, 2003.
  .biblio
    em Paegle Dz., Kušķis J.
    |  Kā latvietis runā... R.: Zvaigzne, 1994.
  .biblio
    | Pedagoģijas terminu skaidrojošā vārdnīca. Sast. aut. kolektīvs #[em V. Skujiņas] vadībā. R.: Zvaigzne ABC, 2000.
  .biblio Populāra medicīnas enciklopēdija. R.: Zinātne, 1975.
  .biblio
    | Preses lasītāja svešvārdu vārdnīca 2004. Sast. #[em I. Rozenvalde] R.: Nordik, 2004.
  .biblio
    | Psiholoģijas vārdnīca. Dr. habil. psihol. #[em G. Breslava] redakcijā. R.: Mācību grāmata, 1999.
  .biblio
    em Rolovs B.
    |  Mazā fizikas vārdnīca. R.: Liesma, 1971.
  .biblio Svešvārdu vārdnīca. R.: Avots, 2008.
  .biblio
    | Svešvārdu vārdnīca. Dr. philol. #[em J. Baldunčika] redakcijā. R.: Jumava, 1999.
  .biblio Svešvārdu vārdnīca. R.: Norden, 1996.
  .biblio
    em Šteina I.
    |  Garīgo terminu skaidrojošā vārdnīca. R.: Zvaigzne ABC, 2002.
  .biblio
    em Tauriņš E.
    |  Latvijas zīdītājdzīvnieki. R.: Zvaigzne, 1982.
  .biblio
    em Torgāns J.
    |  Mūzikas terminu vārdenīte. R.: Zinātne, 2010.
  .biblio
    | Valodniecības pamatterminu skaidrojošā vārdnīca. Sast. autoru kolektīvs #[em V. Skujiņas] vadībā. R.: LU Latviešu valodas institūts, 2007.
  .biblio Zinātnes un tehnoloģijas vārdnīca. R.: Norden AB, 2001.
  .biblio
    | The New Oxford Dictionary of English. Edited by #[em Judy Pearsall]. Oxford University Press, 1998.
  .biblio
    | The Oxford Dictionary and Thesaurus. Edited by #[em Sara Tulloch]. Oxford University Press, 1997.
  .biblio
    | Толковый словарь современного русского языка. Под редакцией #[em Г. Н. Скляревской]. Москва.: „Астрель”, 2001.

  p.biblio
    span Latvijas Nacionālais terminoloģijas portāls #[a(href='https://termini.gov.lv', target='_blank') termini.gov.lv]
    br
    span Valodas konsultācijas: elektroniskā datubāze #[a(href='https://valodaskonsultacijas.lv', target='_blank') valodaskonsultacijas.lv]
    br
    span Interneta meklētājs &bdquo;Google&rdquo; #[a(href='https://google.lv', target='_blank') google.lv]
    br
    span Latviešu valodas teksta un runas korpusi #[a(href='http://korpuss.lv', target='_blank') korpuss.lv]
    br
    span Sugu enciklopēdija &bdquo;Latvijas daba&rdquo; #[a(href='https://latvijasdaba.lv', target='_blank') latvijasdaba.lv]
    br
    span Tīmekļa vietne &bdquo;Letonika.lv&rdquo; #[a(href='https://letonika.lv', target='_blank') letonika.lv]
    br
    span Laikrakstu tīmekļa vietne &bdquo;News.lv&rdquo; #[a(href='https://news.lv', target='_blank') news.lv]
    br
    span Latvijas Nacionālās bibliotēkas Digitālās bibliotēkas tīmekļa vietne &bdquo;Periodika&rdquo; #[a(href='http://periodika.lv', target='_blank') periodika.lv]
