extends ../../common/layout

block content

  h1 Saīsinājumi

  table
    tr
      td.code dsk.
      td(style='width : 20px', align='center') &ndash;
      td.biblio daudzskaitlis
    tr
      td.code ģen.
      td(style='width : 20px', align='center') &ndash;
      td.biblio ģenitīvs
    tr
      td.code piem.
      td(style='width : 20px', align='center') &ndash;
      td.biblio piemēram
    tr
      td.code tag.
      td(style='width : 20px', align='center') &ndash;
      td.biblio tagadne
    tr
      td.code t. dz.
      td(style='width : 20px', align='center') &ndash;
      td.biblio tautas dziesma
    tr
      td.code u. c.
      td(style='width : 20px', align='center') &ndash;
      td.biblio un citi
    tr
      td.code u. tml.
      td(style='width : 20px', align='center') &ndash;
      td.biblio un tamlīdzīgi
    tr
      td.code utt.
      td(style='width : 20px', align='center') &ndash;
      td.biblio un tā tālāk
