#footer-credits
  #footer-affiliates-logos.footer-imagerow
    a(href='https://zinatnesgramatas.lv', tabindex="-1")
      img#Zinatne.img-hover(src='/img/Zinatne.svg' height='45' alt='Apgāds Zinātne' style='opacity: 1;')
    a(href='https://lu.lv', tabindex="-1")
      img#LU_SVG.img-hover(src='/img/LU.svg', height='45', alt='Latvijas Universitāte' style='opacity: 1;')
    a(href='https://lavi.lu.lv')
      img#LaVI_SVG.img-hover(src='/img/LaVI.svg' height='45' alt='Latviešu valodas institūts' style='opacity: 1;')
    a(href='https://lumii.lv', tabindex="-1")
      img#MII_SVG.img-hover(src='/img/MII.svg', height='45', alt='Matemātikas un informātikas institūts' style='opacity: 1;')
    a(href='http://ailab.lv', tabindex="-1")
      img#AILab_SVG.img-hover(src='/img/AILab.svg', height='45', alt='Mākslīgā intelekta laboratorija' style='opacity: 1;')
  .footer-copyright
    .footnote Vārdnīcu izdevis apgāds “Zinātne”, 1972–1996
    .footnote Tehniskā realizācija: LU MII Mākslīgā intelekta laboratorija
    +if_not_editor
      //- .footnote Pēdējais atjauninājums: 2021. gada 18. novembrī
      .footnote Pēdējais atjauninājums: 2022. gada 22. decembrī

#footer-links

  .footer-link-column
    a.footer-link(href='/_/anotacija' tabindex="-1") Par LLVV
    a.footer-link(href='/_/digitalizacija' tabindex="-1") Digitalizācija
    a.footer-link(href='/_/pateicibas' tabindex="-1") Pateicības
    a.footer-link(href='/_/avoti' tabindex="-1") Avoti

  .footer-link-column
    a.footer-link(href='/_/saisinajumi' tabindex="-1") Saīsinājumi
    a.footer-link(href='/_/apzimejumi' tabindex="-1") Apzīmējumi
    a.footer-link(href='/_/iestatijumi' tabindex="-1") Iestatījumi
    a.footer-link(href='/_entry-list' tabindex="-1") Šķirkļu saraksts

#footer-socmedia
  .footnote Seko mums:
  #footer-socmedia-links.footer-imagerow
    a(href='https://twitter.com/AILab_lv', rel='noreferrer', tabindex="-1")
      img.img-hover(src='/img/Twitter.png', alt='Twitter')
    a(href='https://www.facebook.com/ailablv', rel='noreferrer', tabindex="-1")
      img.img-hover(src='/img/Facebook.png', alt='Facebook')

