extends ../../common/layout

block content

  h1 #[em Kindle] vārdnīca

  table
    tbody
      tr
        td.biblio.code Formāts:
        td(style='width : 20px')
        td.biblio Kindle mobi
      tr
        td.biblio.code Lejupielāde:
        td(style='width : 20px')
        td.biblio
          a(href="https://tezaurs.lv/mobi/Tezaurs.lv%20-%20Andrejs%20Spektors.mobi") 24.6 MB
      tr
        td.biblio.code Versija:
        td(style='width : 20px')
        td.biblio Vasara 2019
      tr
        td.biblio.code Atjauninājums:
        td(style='width : 20px')
        td.biblio 08.07.2019
      tr
        td.biblio.code Demo:
        td(style='width : 20px')
        td.biblio
          a(href="https://tezaurs.lv/mobi/Kindle.png") ekrānskats
