extends ../../common/layout

block content

  h1 Citas vārdnīcas

  h2 Tiešsaistes vārdnīcas 

  table
    tbody
      tr
        td.biblio.code 
          strong MLVV
        td(style='width : 20px')
        td.biblio
          a(href='https://mlvv.tezaurs.lv', target='_blank') Mūsdienu latviešu valodas vārdnīca
      tr
        td.biblio.code 
          strong LLVV
        td(style='width : 20px')
        td.biblio
          a(href='https://llvv.tezaurs.lv', target='_blank') Latviešu literārās valodas vārdnīca
      tr
        td(colspan='3')  
      tr
        td.biblio.code 
          strong MEV
        td(style='width : 20px')
        td.biblio
          a(href='http://tezaurs.lv/mev/', target='_blank') K. Mīlenbaha un J. Endzelīna Latviešu valodas vārdnīca
      tr
        td.biblio.code 
          strong LVVV
        td(style='width : 20px')
        td.biblio
          a(href='http://tezaurs.lv/lvvv/', target='_blank') Latviešu valodas vēsturiskā vārdnīca
      tr
        td(colspan='3')  

  //- h2 Senās vārdnīcas PDF formātā 

  //- table
    tbody
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Lange J. #[a(href='https://dspace.lu.lv/dspace/handle/7/4427', target='_blank') Vollständiges deutschlettisches und lettischdeutsches Lexicon], 1777
          small  (LU DSpace)
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Stender G. F. #[a(href='http://tezaurs.lv/pdf/Lettisches_Lexikon_1789.pdf') Lettisches Lexikon], Mitau, 1789
          small  (PDF, ~80 MB)
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Valdemārs Kr. #[a(href='http://tezaurs.lv/pdf/Vardnica_RU-LV-DE_1872.pdf') Krievu - latviešu - vācu vārdnīca], Maskava, 1872
          small  (PDF, ~66 MB)
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Ulmann C. C. #[a(href='http://tezaurs.lv/pdf/UlmW_I.pdf') Lettisch - deutsches Wörterbuch], Riga, 1872
          small  (PDF, ~50 MB)
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Ulmann C. C., Brasche G. #[a(href='http://tezaurs.lv/pdf/UlmW_II.pdf') Deutch - lettisches Wörterbuch], Riga u. Leipzig, 1880
          small  (PDF, ~104 MB)
      tr
        td.biblio.code
          img(src="/img/pdf-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio Dravnieks J. #[a(href='http://tezaurs.lv/pdf/Dravnieks_Deutsch-Lettisches_worterbuch_1910.pdf') Deutsch-lettisches Wörterbuch], Rīga, 1910
          small  (PDF, ~172 MB)
      tr
        td(colspan='3')  

  h2 Citi leksiskie resursi 

  table
    tbody
      tr
        td.biblio.code
          img(src="/img/external-link-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio
          a(href='http://valoda.ailab.lv/latval/vispareji/pamatv/pamatv.htm', target='_blank') Pamatvārdu vārdnīca
      tr
        td.biblio.code
          img(src="/img/external-link-icon.svg" width=32)
        td(style='width : 20px')
        td.biblio
          a(href='http://valoda.ailab.lv/latval/vispareji/bilabc/ba.htm', target='_blank') Bilžu ābece
