extends ../layout

block content
  h1 Dokumenti

  p Te savāktas saites uz dokumentiem, kuri varētu noderēt darbā ar vārdnīcu platformu.

  //- !! Te likt tikai read-only saites !!

  ul 
    li 
      a(href="https://docs.google.com/document/d/1uDD3ezyNMGvUp8X1Q1_LEywvmkELok_9TmxI5zyjWKw/edit?usp=sharing" target="_blank") Tēzaura izveides vadlīnijas 

    li 
      a(href="https://docs.google.com/document/d/1UgfLUMh72M3umGdI6YRABK9Ct_cCpCGOoLezD_r_SzE/edit?usp=sharing" target="_blank") MLVV redaktora instrukcija

    //- li 
      a(href="https://docs.google.com/spreadsheets/d/1DBs3ZitzGU6c6Ka1Fg9bigXWnkiDfhsS_uVxZny9buw/edit?usp=sharing" target="_blank") Karogu un verbalizācijas "ekselis"

    li 
      a(href="https://docs.google.com/spreadsheets/d/1frk7pK2zf93ABArxgwx3y70by5Rg_KFH8CwH9KiCbYU/edit?usp=sharing" target="_blank") Karogu un verbalizācijas "ekselis"

    li 
      a(href="/__/palidziba" target="_blank") Palīdzība redaktorcilvēkam



  //- p Šajā lapā vēl ir brīvas vietas.