extends layout

block content
  if app_mode === APP_MODE.PUBLIC
    h2 Nekas netika atrasts
  else
    h2 Kaut kas ir nogÄjis greizi
    h2= message
    h3= error.status
    pre
      code.language-json #{error.stack}
