div
    p Ievadot precīzu vārdu, tiks atrasts attiecīgais šķirklis.
    p Ja ievadītajam vārdam ir homonīmi, tiks atrasti visi atbilstošie šķirkļi.
    p Ja ievadīts formā liels:1, tad tiks atrasts norādītais homonīms.
    p Ja ievadam precīzi neatbilst neviens vārds, tad malā tiks parādīti visi vārdi, kuri satur ievadīto kā apakšvirkni.
    p Var ievadīt arī formā suns*, *suns un *suns*. Tad tiks meklēti vārdi ar attiecīgu sākumu/beigām/apakšvirkni.
