extends ../../common/layout

block append header_scripts
  style.
    dl {
      display: grid;
      grid-template: auto / 5em 1fr;
    }

    dt, dd {
      margin: 0;
      padding: .3em .5em;
      //- border-top: 1px solid rgba(0,0,0,.1);
    }

block content
  h1 Par LLVV

  p LLVV jeb “Latviešu literārās valodas vārdnīca” ir skaidrojošā vārdnīca, kuru Zinātņu akadēmijas Valodas un literatūras institūts sagatavoja un apgāds “Zinātne” izdeva 8 sējumos (10 grāmatās) no 1972. līdz 1996. gadam. Vārdnīcā iekļauti vairāk nekā 64 tūkst. šķirkļi, to veidojis plašs autoru kolektīvs, atbildīgais redaktors – Laimdots Ceplītis.

  p Šajā vietnē ir pieejama digitalizēta LLVV versija, kas kopš 2001. gada tiek #[a(href='/_/pateicibas') veidota un uzturēta] LU MII Mākslīgā intelekta laboratorijā. Vārdnīca tika ieskenēta un pārvērsta strukturētā, mašīnlasāmā formātā. Vēlāk labotas dažādas kļūdas un nepilnības, kas radušās digitalizācijas procesā.

  p 2021. gadā vārdnīca iekļauta vienotajā Tēzaurs.lv vārdnīcu platformā. Tās saturs netiek mainīts, bet joprojām tiek veikti sīki labojumi, ja tiek pamanītas skenēšanas vai strukturālā marķējuma kļūdas. Līdz ar pāreju uz jauno Tēzaurs.lv platformu LLVV šķirkļu vizualizācija un meklēšanas iespējas ir būtiski pilnveidotas.

  p Digitalizācijas procesā veiktās korekcijas aprakstītas #[a(href='/_/digitalizacija') šeit].

  p Atsauksmēm un saziņai: #[a(href='mailto:tezaurs@ailab.lv') tezaurs@ailab.lv]
