extends ../../common/layout

block append header_scripts
  style.
    dt {
      margin-top: 0.5em;
    }

    dd {
      padding-left: 2em;
      margin: 0;
    }

block content

  h1 Avoti

  dl
    dt A Auziņš — ARNOLDS AUZIŅŠ
    dd 1. Ogles zīmējumi (1974)
    dd 2. Ticība (1979)
    dd 3. No tevis nešķiršos (1984)
    dd 4. Pasaule sākas ar vārdu (1984)

    dt A Balodis — ARVĪDS BALODIS
    dd 1. Putnu un sīko zīdītāju preparēšana (1960)
    dd 2. Sēņotājiem (1963)

    dt A Bārda — ANTONS BĀRDA
    dd 1. Puķe pagalvī (1971)
    dd 2. Mūžīgā vasara (1981)

    dt A Deglavs — AUGUSTS DEGLAVS
    dd 1. Rīga (1951)

    dt A Eglītis — ANŠLAVS EGLĪTIS
    dd 1. Lugas (1990)
    dd 2. Pansija pilī (1991)
    dd 3. Ģīmetne (1991)
    dd 4. Homo novus (1992)
    dd 5. Līgavu mednieki (1993)
    dd 6. Omartija kundze (1991)

    dt A Grigulis — ARVĪDS GRIGULIS
    dd I—VII. Kopoti raksti, I—VII sēj. (1963—1966)
    dd 1. Nags (1945)
    dd 2. Vētra (1946)
    dd 3. Lugas (1947)
    dd 4. Caur uguni un ūdeni (1947)
    dd 4a. Caur uguni un ūdeni (1945)
    dd 5. Māls un porcelāns (1948)
    dd 6. Trešā brigāde (1950)
    dd 7. Robežsargi, divi puikas un suns (1952)
    dd 8. Ļeņina ielā deg spuldze (1953)
    dd 9. Dzejoļi, stāsti, lugas (1956)
    dd 10. Cilvēki dārzā (1957)
    dd 11. Ceriņzars (1959)
    dd 12. Ūdenskliņģeris (1961)
    dd 13. Kad lietus un vēji sitas logā (1965)
    dd 14. Vējš dzied ezera vītolos (1968)
    dd 15. Rudens lietus (1966)
    dd 16. Otrie gaiļi (1970)
    dd 17. Zivis dzīvo ūdenī (1976)
    dd 18. Stāsti un ugunskuri (1980)

    dt A Gulbis — ALBERTS GULBIS
    dd 1. Meitene ar akmens cirvi (1967)
    dd 2. Noslēpumainās bultas (1972)
    dd 3. Toreiz zēna gados (1977)

    dt A Kalniņš — ARVĪDS KALNIŅŠ
    dd 1. Medības un medību saimniecība (1958)

    dt A Pētersons — ARVĪDS PĒTERSONS
    dd 1. Hokejs (1951)

    dt A Plaudis — ARVĪDS PLAUDIS
    dd 1. Prieks (1967)

    dt A Putniņš — AUSEKLIS PUTNIŅŠ
    dd 1. K. Marksa filozofisko uzskatu veidošanās (1977)

    dt A Skalbe — ARVĪDS SKALBE
    dd 1. Atlido dzērves (1956)
    dd 2. Sūrabele (1959)
    dd 3. Atskalas (1967)
    dd 4. Tēva dubļi sudraboti (1972)
    dd 5. Kalums (1963)
    dd 6. Skandīne (1970)
    dd 7. Mūžam saule debesīs (1981)
    dd 8. Vientuļi vārdi (1983)
    dd 9. Gaismiņa (1985)

    dt A Šmits — ALEKSANDRS ŠMITS
    dd 1. Mūsdienu progresīvā mācība par dzīvo vielu (1951)

    dt Ādamsons — ĒRIKS ĀDAMSONS
    dd 1. Smalkās kaites (1937)
    dd 2. Izlase (1957)
    dd 3. Sava ceļa gājējs (1992)

    dt Ādmīdiņš — REINIS ĀDMĪDIŅŠ
    dd 1. Dzejas darbdiena (1977)

    dt Aiz ez — Aiz ezera balti bērzi. Literāri publicistisks krājums par Latgali. Sastādījis J. Laganovskis (1958)

    dt Akurātere — LĪVIJA AKURĀTERE
    dd 1. Artūrs Filipsons (1970)
    dd 2. Emīlija Viesture (1976)
    dd 3. Gunārs Cilinskis (1978)

    dt Akuraters — JĀNIS AKURATERS
    dd 1. Kalpa zēna vasara (1956)
    dd 2. Degoša sala (1971)

    dt Alg — J. Mencis, A. Lācis, O. Lauce. Algebra VII klasei (1963)

    dt Alksnis — ARNOLDS ALKSNIS
    dd 1. Plastmasas un to apstrāde (1962)

    dt Anat — A. Kabanovs. Cilvēka anatomija un fizioloģija (1955)

    dt Andersone — SKAIDRĪTE ANDERSONE
    dd 1. Smaržīgās pēdas (1974)

    dt Andrejs Eglītis — ANDREJS EGLĪTIS
    dd 1. Svešais cirvis cērt un cērt (1990)

    dt Andžāns — KĀRLIS ANDŽĀNS
    dd 1. Grāmatvedības pamati (1963)

    dt Apals — JĀNIS APALS
    dd 1. Arheoloģiskie pieminekļi Gaujas Nacionālajā parkā (1986)

    dt Apsīšu J — APSĪŠU JĒKABS
    dd 1. Izlase (1952)
    dd 2. Iz tautas bilžu galerijas. Stāsti (1958)
    dd 3. Bagāti radi (1958)

    dt Apsīts — JĀNIS APSĪTS
    dd 1. Laukkopība (1956)

    dt Apstād — Apstādījumi (1959)

    dt Arājs-Bērce — AUGUSTS ARĀJS-BĒRCE
    dd 1. Stāsti un dzejas (1951)

    dt Arit 1 — K. Dukurs, J. Mencis, A. Lācis. Aritmētika V klasei (1963)

    dt Arit 2 — K. Dukurs, J. Mencis, A. Lācis. Aritmētika VI klasei (1963)

    dt Artmane — Vija Artmane PSRS Tautas skatuves māksliniece laikabiedru un viņas pašas skatījumā (1979)

    dt Aspazija — ASPAZIJA
    dd I-VI. Mana dzīve un darbi, I-VI sēj. (1931-1940)
    dd 1. Zaudētās tiesības (1945)
    dd 2. Lirika (1956)
    dd 3. Izlase (1959)

    dt Astr — B. Voroncovs-Veļjaminovs. Astronomija (1955)

    dt AT Biļ — Latvijas PSR Augstākās Tiesas Biļetens Atklājums — žurnāls „Atklājums”

    dt Atm — Rūdolfs Blaumanis laika biedru atmiņās (1962)

    dt Atomr — V. Gavars, L. Pelēķis, U. Ulmanis. Pirmais atomreaktors Latvijā (1960)

    dt Atsl — A. Kosjačenko, I. Molčans. Atslēdznieku darbi (1959)

    dt Augļkop — J. Sudrabs, J. Mežapuķe, E. Pētersons. Augļkopība (1955)

    dt Austriņš — ANTONS AUSTRIŅŠ
    dd I— VIII. Kopoti raksti, I— VIII sēj. (1927-1934)
    dd 1. Puiškans (1959)
    dd 2. Sirmā stunda (1960)

    dt Auziņš — IMANTS AUZIŅŠ
    dd 1. Mums uzticētā planētas daļa (1966)
    dd 2. Jaunu rītu lauki (1966)
    dd 3. Nezūdošais (1972)
    dd 4. Mājas pulcējas baros (1974)
    dd 5. Nomodā (1975)
    dd 6. Duna (1977)
    dd 7. Visas pasaules tapums (1979)
    dd 8. Tālā balss (1981)
    dd 9. Alkas (1983)
    dd 10. Atskārsme (1986)

    dt Avotiņa — DAINA AVOTIŅA
    dd 1. Akmens ziedēšana (1969)
    dd 2. Zuze (1973)
    dd 3. Nenogaliniet stirnu... (1970)
    dd 4. Vērmeļu vīns (1967)
    dd 5. Mazās ostas (1974)
    dd 6. Delnā kā bezdelīdzēns (1971)
    dd 7. Celmi pie upes. Pirmā grāmata (1978)
    dd 8. Caunas pēdu raksts (1979)
    dd 9. Nāk diena pēc dienas (1990)

    dt Avotiņa, Peters — DAINA AVOTIŅA, JĀNIS PETERS
    dd 1. Baltijas toverī sālīti... (1973)

    dt Avotiņa, Šlisers — DAINA AVOTIŅA, ALFRĒDS ŠLISERS
    dd 1. Saksiņu vējos. Akmens enkurs (1976)

    dt B Briede — BRIGITA BRIEDE
    dd 1. Dažādi instrumentālie žanri (1959)

    dt Balodis — ANDREJS BALODIS
    dd 1 Cīņu un uzvaru gaismā (1945)
    dd 2. Dzīvības sējēji (1948)
    dd 3. Lai lielgabali klus (1951)
    dd 4. Spārnotie gadi (1958)
    dd 5. No sirds (1950)
    dd 6. Laika upe (1966)
    dd 7. Okeānvējš (1971)
    dd 8. Briedums (1963)
    dd 9. Zivju debesis (1983)

    dt Baltakmens, Stukuls — RAIMONDS BALTAKMENS, VILIS STUKULS
    dd 1. Latvijas zirgi (1978)

    dt Bambergs — KĀRLIS BAMBERGS
    dd 1. Organiskie mēslošanas līdzekļi (1961)

    dt Bārbale — MARTA BĀRBALE
    dd 1. Laimes pakavs (1967)
    dd 2. Manas miglas (1969)
    dd 3. Melni mani kumeliņi (1975)
    dd 4. Aiz kalna (1979)
    dd 5. Arī kadiķi zied ... (1964)
    dd 6. Svied puķi debesīs! (1983)

    dt Bārda — FRICIS BĀRDA
    dd 1. Dzejas (1956)
    dd 2. Dzejas (1959)

    dt Baumane — MIRDZA BAUMANE
    dd 1. Garšaugi (1978)

    dt Behmane — INGRĪDA BEHMANE
    dd 1. Anna Sakse (1955)

    dt Beika — DĀVIDS BEIKA
    dd 1. Mežabrāļu gads (1956)

    dt Bels — ALBERTS BELS
    dd 1. Spēles ar nažiem (1966)
    dd 2. Būris (1972)
    dd 3. Poligons (1977)
    dd 4. Izmeklētājs. Būris (1977)
    dd 5. Sainis (1980)
    dd 6. Saknes (1982)
    dd 7. Cilvēki laivās (1987)
    dd 8. Cilvēki pārvērtībās (1989)

    dt Belševica — VIZMA BELŠEVICA
    dd 1. Nelaime mājās (1979)
    dd 2. Madarās (1976)
    dd 3. Kamola tinēja (1981)
    dd 4. Ievziedu aukstums (1988)

    dt Bandrupe — MIRDZA BENDRUPE
    dd 1. Upe izkāpj no krastiem (1957)
    dd 2. Degošie raksti (1963)
    dd 3. Pilna krūze mēnesnīcas (1974)
    dd 4. Buramie vārdi (1979)
    dd 5. Lukturu aizdedzinātājs (1986)

    dt Bērce — VIZBULIS BĒRCE
    dd 1. Pirmie vienpadsmit (1949)
    dd 2. Rītdiena sākusies šodien (1951)
    dd 3. Mēs — darba rūķi... (1956)
    dd 4. Stipro spēks (1948)
    dd 5. Krāsaini sapņi (1963)
    dd 6. Brīnumputnu meklējot (1969)

    dt Berģis — SĪMANIS BERĢIS
    dd 1. Ziemeļu pionieri (1957)

    dt Bērn — žurnāls „Bērnība” (1945-1964)

    dt Bērziņa — V1ZBULĪTE BĒRZIŅA
    dd 1. Instrumentālie kameransambļi (1959)
    dd 2. Fantāzija (1959)

    dt Bērziņš — KĀRLIS BĒRZIŅŠ
    dd 1. Grāmatvedības pamati (1971)

    dt Bez s — Bez saules. Sastādījusi S. Cielava (1956)

    dt Bībers — GUNĀRS BĪBERS
    dd 1. Gunāra Priedes dramaturģija (1978)

    dt Biol r — A.Ilziņa, A. Krūmiņa, I. Liepa, A. Mauriņš, N. Sloka, Č. Tima, Z. Vīksne, E. Vimba. Bioloģijas rokasgrāmata (1989)

    dt Birkmane — KORNĒLIJA BIRKMANE
    dd 1. Latvijas PSR mūžzaļie augi (1972)

    dt Birze — MIERVALDIS BIRZE
    dd 1. Pirmie ziedi (1956)
    dd 2. Nelaimīgais suns (1959)
    dd 3. Visiem rozes dārzā ziedi... (1963)
    dd 4. Ka radās stāsts (1961)
    dd 5. Smilšu pulkstenis (1964)
    dd 6. Sajaukta diagnoze (1963)
    dd 7. Rozā zilonis (1976)
    dd 8. Divu jūru krastos (1978)

    dt Birziņa — LĪNA BIRZIŅA
    dd 1. Latvijas PSR vietējo padomju attīstība (1960)

    dt Birznieks-Upītis — ERNESTS BIRZNIEKS-UPĪTIS
    dd I—VI. Kopoti raksti, I—VI sēj. (1946—1950)
    dd Ia—VIIa. Kopoti raksti, I—VII sēj. (1960-1963)
    dd 1. Pelēkā akmens stāsti (1955)
    dd 2. Mazmeita Dace (1949)
    dd 3. Kustīgais Jānītis (1957)
    dd 4. Kaukāza stāsti (1957)
    dd 5. Pastariņa dienasgrāmata (1952)
    dd 6. Izlase (1959)
    dd 7. Stāsti (1954)
    dd 8. Vāverīte un citi stāsti (1946)

    dt Biškop — J. Ārgalis, K. Balode, M. Bembere, O. Eglītis, F. Galenieks, J, Kamols, T. Kriškāns, M. Skudiņa. Biškopība (1963)

    dt Blaumanis — RŪDOLFS BLAUMANIS
    dd I—VIII. Kopoti raksti, I—VIII sēj. (1958—1960)
    dd Ia—IVa. Kopoti raksti, I—IV sēj. (1941)
    dd Ib—Vb. Kopoti raksti, I—V sēj. (1946—1949)
    dd 1. Lugu izlase (1946)
    dd 2. Noveles (1950)
    dd 3. Stāsti un noveles (1955)
    dd 4. Pazudušais dēls (1945)
    dd 5. Nāves ēnā (1959)
    dd 6. Izlase (1958)

    dt Blinkena — AINA BLINKENA
    dd 1. Latviešu interpunkcija (1969)

    dt Bormane — OLGA BORMANE
    dd 1. Skatuves runas pamati (1961)

    dt Bot d — Latvijas Valsts universitātes Botāniskais dārzs (1955)

    dt Branks — VOLDEMĀRS BRANKS
    dd 1. Kara cepure (1958)
    dd 2. Mazais cilvēks uz lielā ceļa (1960)
    dd 3. Partizāna mazie draugi (1948)
    dd 4. Perekopa velns (1971)

    dt Breicis — JĀNIS BREICIS
    dd 1. Neparastā ekskursija (1959)

    dt Breikšs — LEONĪDS BREIKŠS
    dd 1. Gaismas ceļš (1991)

    dt Brička — TĀLIVALDIS BRIČKA
    dd 1. Plaukstošais bērzs (1956)

    dt Brička, Saulītis — TĀLIVALDIS BRIČKA, BRUNO SAULĪTIS
    dd 1. Velna purvs (1951)

    dt Brīdaka — LIJA BRĪDAKA
    dd 1. Man dzīve dāvina smaidu (1962)
    dd 2. Dienas prasa atbildi... (1964)
    dd 3. Zem pērkona debesīm (1966)
    dd 4. Domu dienas (1968)
    dd 5. Portrets profilā (1970)
    dd 6. Uzticības vārdi (1972)
    dd 7. Gulbju pavadīšana (1977)
    dd 8. Mazas ironeskas (1979)
    dd 9. Naktsvijole (1980)
    dd 10. Septembra tembrs (1982)
    dd 11. Mūžīgais vaicājums (1986)

    dt Briede — ALEKSANDRA BRIEDE
    dd 1. Fiziskās audzināšanas stundas organizācija un metodika skolā 1.-8. klasē (1960)

    dt Briede-Bulāvinova — VIJA BRIEDE-BULĀVINOVA
    dd 1. Latviešu opera (1975)

    dt Briedis — ZIGURDS BRIEDIS
    dd 1. Izcilie matemātiķi (1972)

    dt Brigadere — ANNA BRIGADERE
    dd I—XX. Kopoti raksti, 1—XX sēj. (1937—1939)
    dd 1. Pasaku lugas (1956)
    dd 2. Triloģija (1957)
    dd 3. Stāsti un noveles. Izlase (1958)

    dt Brodele — ANNA BRODELE
    dd 1. Brīvā dzimtene (1946)
    dd 2. Stiprie cilvēki (1946)
    dd 3. Klases biedri (1947)
    dd 4. Upesciema pavasaris (1948)
    dd 5. Zelta druva (1949)
    dd 6. Skolotājs Straume (1949)
    dd 7. Dedzīgās sirdis (1951)
    dd 8. Māte (1951)
    dd 9. Dzīvības vārdā (1953)
    dd 10. Avārija (1954)
    dd 11. Maiga Rudzupuķe (1954)
    dd 12. Mantiniece (1954)
    dd 13. Marta (1950)
    dd 14. Ar sirdi un asinīm (1956)
    dd 15. Trīs viencēlieni (1945)
    dd 16. Uzticība (1962)
    dd 17. Zilais zvirbulis (1965)
    dd 18. Dzejoļi, lugas un viencēlieni, Marta [Izlase] (1960)

    dt Brūklenājs — AUGUSTS BRŪKLENĀJS
    dd 1. Izlase (1955)

    dt Brutāne — VALIJA BRUTĀNE
    dd 1. Dārzi plaukst (1950)
    dd 2. Šalciet, mani balti bērzi! (1956)
    dd 3. Saules zaķēns (1968)
    dd 4. Uz Līgatni man brauciet līdz! (1969)
    dd 5. Slāpes (1960)
    dd 6. Sastapšanās (1961)
    dd 7. Runā Rīga (1976)
    dd 8. Nesadomātais (1978)
    dd 9. Mainīgs mākoņu daudzums (1981)
    dd 10. Krāšņie meli (1984)
    dd 11. Plauksta uz pieres (1986)

    dt Būcis — JĀNIS BŪCIS
    dd 1. Praktiskie darbi mājlopu audzēšanā (1956)

    dt Bundzeniece — OLGA BUNDZENIECE
    dd 1. Zēns ar pīkstuli (1957)
    dd 2. Irēnas dienasgrāmata (1971)

    dt Bune — JĀNIS BUNE
    dd 1. Ķirurģija (1952)
    dd 2. Ķirurģija (1956)

    dt Caune — ALBERTS CAUNE
    dd 1. Dialogs ar dabu (1973)
    dd 2. Mazliet savdabji (1977)
    dd 3. Zemes raksti (1978)
    dd 4. Sūrums un veldze (1983)
    dd 5. Silpurene (1987)

    dt Ceļi t — J. LŪSIS, E. SLĒDE, Ceļi un tilti (1958)

    dt Ceplītis, Katlape — LAIMDOTS CEPLĪTIS, NORA KATLAPE
    dd 1. Izteiksmīgas runas pamati (1960)

    dt Cilv b — Cilvēces sirdsapziņas balss. Mieram veltīts prozas krājums. Sakārtojis E. Damburs (1951)

    dt Cimermanis — SAULVEDIS CIMERMANIS
    dd 1. Latviešu tautas dzīves pieminekļi (1969)

    dt Cīņa — laikraksts „Cīņa”

    dt Cīņas dz — Cīņas dziesmas (1957)

    dt Cīrulis — GUNĀRS CĪRULIS
    dd 1. Un viļņojas jūra tāltālu... (1958)
    dd 2. Bākas staros (1960)
    dd 3. Tādi kā tu un es (1961)
    dd 4. Un pēc tam pensijā... (1979)
    dd 5. Enkurs sirdī. Izlase (1973)
    dd 6. Bezalgas atvaļinājums (1981)

    dt Cīrulis, Imermanis — GUNĀRS CĪRULIS, ANATOLS IMERMANIS
    dd 1. Parole USSR (1950)
    dd 2. Dzīvoklis bez numura (1952)

    dt Civilk — Latvijas Padomju Sociālistiskās Republikas Civilkodekss (1964)

    dt Civilk 1 — Latvijas Padomju Sociālistiskās Republikas Civilkodekss (1974)

    dt Civilpr k — Latvijas Padomju Sociālistiskās Republikas Civilprocesa kodekss (1964)

    dt Civilpr k 1 — Latvijas Padomju Sociālistiskās Republikas Civilprocesa kodekss (1982)

    dt Cūkk — Cūkkopība (1956)

    dt Čaklais — MĀRIS ČAKLAIS
    dd 1. Kājāmgājējs un mūžība (1967)
    dd 2. Pirmdiena (1965)
    dd 3. Lapas balss (1969)
    dd 4. Zāļu diena (1972)
    dd 5. Sastrēgumstunda (1974)
    dd 6. Saule rakstāmgaldā (1975)
    dd 7. Strautuguns (1978)
    dd 8. Uz manām trepēm. Dzejoļu izlase (1979)
    dd 9. Pulksteņu ezers (1979)
    dd 10. Nozagtā gliemežnīca (1980)
    dd 11. Cilvēksauciena attālumā (1984)
    dd 12. Labrīt, Heraklīt! (1989)

    dt Čaks — ALEKSANDRS ČAKS
    dd I—II. Izlase, I—III sēj, (1961)
    dd Ia—Va. Raksti, I—V sēj. (1971—1976)
    dd 1. Patrioti (1948)
    dd 2. Zem cēlās zvaigznes (1948)
    dd 3. Cīņai un darbam (1951)
    dd 4. Mana paradīze (1932)
    dd 5. Iedomu spoguļi (1938)
    dd 6. Eņģelis aiz letes (1935)
    dd 7. Mūžības skartie (1998)

    dt D kal — Dabas un vēstures kalendārs

    dt Dadz — žurnāls „Dadzis”

    dt Daiļd — Daiļdārzniecība (1961)

    dt Darba aizs — Darba aizsardzība. Rokasgramata 6 daļās. III [daļa] (1979)

    dt Darvinisma pam — M. Meļņikovs, A. Šibanovs, V. Korsunska. Darvinisma pamati (1956)

    dt Dārzeņk — P. Dindonis, M. Baumane, J. Mežapuķe, P. Veisteris, A. Krustkalne. Dārzeņkopība (1957)

    dt Dārzk — Dārzkopība (1952)

    dt DD — žurnāls „Dārzs un Drava”

    dt DDD — žurnāls „Daba, Dārzs un Drava” (1958—1959)

    dt Delle — VILMA DELLE
    dd 1. Par zēnu, kas nenoslīka (1960)
    dd 2. Piecas atminēšanas (1979)

    dt Derums — VILIS DERUMS
    dd 1. Tautas veselība un dziedniecība senajā Baltijā (1978)

    dt Diena — laikraksts „Diena”
    dd Dindonis — PĒTERIS DINDONIS
    dd 1. Puķkopība (1955)

    dt Dinere — CECĪLIJA DINERE
    dd 1. Seržanta Sarmas dziesma (1947)
    dd 2. spožie spārni (1948)
    dd 3. Mums dārgs ir miers (1951)
    dd 4. Mēs būsim dzelzceļnieki (1952)
    dd 5. Kates rotaļlietas (1953)
    dd 6. Fricis Gailis (1954)
    dd 7. Degošais pīlādzis (1957)
    dd 8. Mazais rīdzinieks (1951)
    dd 9. Neredzamie tilti (1973)
    dd 10. Ugunsputna medības (1976)
    dd 11. Upe šalc un šalc (1979)
    dd 12. Gliemežnīca (1979)
    dd 13. Iedomu pilsēta (1979)

    dt Doku A — DOKU ATIS
    dd 1. Mans dzīves rīts (1950)
    dd 1a. Mans dzīves rīts (1958)
    dd 2. Izlase (1963)

    dt Dorbe — HERBERTS DORBE
    dd 1. Dzejoļi bērniem (1956)
    dd 2. Putni daino patiesību (1959)
    dd 3. Tikai labu (1972)
    dd 4. Pagātnes vējos (1973)
    dd 5. Ceļavīra vēlējums (1977)
    dd 6. Brāļi, piecelieties (1978)
    dd 7. Līdumnieks no Zlēkām (1979)
    dd 8. Savu bērniņu direktors (1984)

    dt Draugs — žurnāls „Draugs”

    dt Drēziņš — ĒRIKS DRĒZIŅŠ
    dd 1. Sirds liesmās (1955)

    dt Dripe — ANDREJS DRIPE
    dd 1. Mežciema puikas (1956)
    dd 2. Ceļa zīmes (1966)
    dd 3. Pēdēja barjera (1971)
    dd 4. Kolonijas audzinātāja piezīmes (1975)
    dd 5. Kaķi maisā (1977)
    dd 6. Tā tas varētu būt (1973)
    dd 7. Vēstules no kolhoza (1981)
    dd 8. Stāsti (1981)
    dd 9. Līdzatvestais (1986)
    dd 10. Mazā brīvība (1989)
    dd 11. Bez skaistas maskas. 1. grāmata. Kara laika puikas (1993)
    dd 12. Bez skaistas maskas. 2. grāmata. Pirmie pēckara gadi (1993)

    dt Druva — žurnāls „Druva” (1958—1963)

    dt Dunkers — OĻĢERTS DUNKERS
    dd 1. Režisors doma par aktieri (1976)

    dt DV — Darba vara lielu dara. Tautas dziesmu izlase prof. J.A. Jansona sakārtojumā (1960)

    dt Dzene — LILIJA DZENE
    dd 1. Kārlis Sebris (1967)
    dd 2. Lidija Freimane (1971)
    dd 3. Labais mūžs (1964)
    dd 4. Elza Radziņa (1973)
    dd 5. Dialogs ar Hariju Liepiņu (1977)
    dd 6. Drāmas teātris (1979)
    dd 7. Mana versija par Alfrēdu Jaunušanu (1979)
    dd 8. Vai tavs mūžs kam lieti der (1983)
    dd 9. Aktiera Jāņa Kubiļa atbildes (1984)

    dt Dzied — Jēk. Mediņs, I. Jākobsone. Dziedāšanas mācīšanas metodika I—IV klasei (1958)

    dt Dziesma — FRICIS DZIESMA
    dd 1. Līvzeme (1991)

    dt Dziļums — ALFRĒDS DZIĻUMS
    dd 1. Saplestā krūze (1990)

    dt Dzīvn — I—II. Latvijas PSR dzīvnieku noteicējs, I —II sēj. (1956, 1957)

    dt E Arājs — EDUARDS ARĀJS
    dd 1. Līdz Berlīnei (1982)

    dt E Pētersons — EIŽENS PĒTERSONS
    dd 1. Mūsu sēnes (1956)

    dt E Plaudis - EGILS PLAUDIS
    dd 1. Zaļā krēsla (1970)
    dd 2. Zili sili zigu zagu augs (1974)
    dd 3. Zvani (1980)
    dd 4. Sudraba māsa, melnā māsa (1981)
    dd 5. Lietuvēna spēle (1984)

    dt Ēd gat — Ēdienu gatavošanas tehnoloģija (1969)

    dt Eferts-Klusais — ERNESTS EFERTS-KLUSAIS
    dd 1. Izlase (1947)

    dt Egerts — VITOLDS EGERTS
    dd 1. Elektrība kalpo ķīmijai (1961)

    dt Eglītis — OSKARS EGLĪTIS
    dd 1. Bišu stropi (1957)

    dt Eglons — VISVALDIS EGLONS
    dd 1. Ceļš pa dzīvi (1956)
    dd 2. Nemierā dunošā pilsēta (1957)
    dd 3. Kāpj dūmu stabi (1960)
    dd 4. Darbā kaldināta jaunība (1961)

    dt Ekon zin — Ekonomisko zināšanu pamati strādniekiem (1973)

    dt Eliass — KRISTAPS ELIASS
    dd 1. Holandiešu vecmeistari (1957)

    dt Elksne — ĀRIJA ELKSNE
    dd 1. Vasaras vidū (1966)
    dd 2. Galotņu gaisma (1968)
    dd 3. Klusuma krastā (1973)
    dd 4. Trešā bezgalība (1971)
    dd 5. Uz tavu veselību, zeme! (1963)
    dd 6. Vārpu valoda (1960)
    dd 7. Vēl vienai upei pāri (1975)
    dd 8. Līdz saulei aizdomāt (1977)
    dd 9. Metamorfozes (1980)
    dd 10. Stari (1982)

    dt Elksne, Grots — ĀRIJA ELKSNE, JĀNIS GROTS
    dd 1. Vēstules tālajai zvaigznei (1978)

    dt EM gram — J. Endzelīns, K. Mīlenbahs. Latviešu gramatika (1934)

    dt Endzelīns — JĀNIS ENDZELĪNS
    dd 1. Latviešu valodas gramatika (1951)
    dd 2. Latviešu valodas skaņas un formas (1938)
    dd 3. Baltu valodu skaņas un formas (1948)

    dt Enerģ — K. Plaude, J. Mazurs, K. Putniņš. Latvijas enerģētikas attīstība PSRS energosistēma (1961)

    dt Engelss — FRĪDRIHS ENGELSS
    dd 1. Dabas dialektika (1952)
    dd 2. Darba loma pērtiķa tapšanā par cilvēku (1949)
    dd 3. Ģimenes, privātīpašuma un valsts izcelšanās (1946)
    dd 4. Anti-Dīrings (1952)
    dd 4a. Anti-Dīrings (1947)

    dt Ērgle — ZENTA ĒRGLE
    dd 1. Par mūsu sētas bērniem, indiāņiem un melno kaķi (1972)
    dd 2. Ato un brīnumpērle (1975)
    dd 3. No Plutona līdz Neptūnam (1975)
    dd 4. Starp mums, meitenēm, runājot... (1976)
    dd 5. Gads ar diviem pavasariem (1979)
    dd 6. Noslēpumainais atradums (1980)
    dd 7. Bez piecām minūtēm pieauguši (1983)

    dt Ezera — REGĪNA EZERA
    dd 1. Viņas bija trīs (1963)
    dd 2. Daugavas stāsti (1965)
    dd 3. Aiztek Gaujas ūdeņi, aiztek (1968)
    dd 4. Un ceļš vēl kūp (1961)
    dd 5. Grieze, trakais putns (1970)
    dd 6. Dzilnas sila balāde (1973)
    dd 7. Aka (1972)
    dd 8. Pavasara pērkons (1973)
    dd 9. Cilvēkam vajag suni (1975)
    dd 10. Nakts bez mēnesnīcas (1971)
    dd 11. Mežābele (1966)
    dd 12. Saules atspulgs (1969)
    dd 13. Zemdegas (1977)
    dd 14. Baraviku laika dullums (1978)
    dd 15. Slazds (1979)
    dd 16. Saulespuķes no pernās vasaras (1980)
    dd 17. Pati ar savu vēju. 1. grāmata. Varmācība (1982)
    dd 18. Pati ar savu vēju. 2. grāmata. Nodevība (1984)
    dd 19. Dzīvot uz savas zemes (1984)
    dd 20. Princeses fenomens (1985)

    dt Ezeriņš — JĀNIS EZERIŅŠ
    dd 1. Noveļu izlase (1955)
    dd 2. Stāsti un noveles. Izlase (1962)
    dd 3. Tornis (1959)

    dt F Deglavs — FRICIS DEGLAVS
    dd I—II. Rakstu izlase, I—II sēj. (1959, 1960)

    dt F Kult — žurnāls „Fiziskā Kultūra” (1946—1955)

    dt Felds — Medicīniskā rokasgrāmata feldšeriem (1954)

    dt Feod Rīga — Feodālā Rīga (1978)

    dt Ferda — ĒRIKA FERDA
    dd 1. Topoša aktiera ķermeņa kultūra (1968)

    dt Fimbers — KĀRLIS FIMBERS
    dd 1. Pelēkā zeme (1956)
    dd 2. Ar karstām sirdīm... (1956)

    dt Fiz 1 — A. Pjoriškins, J. Minčenkovs, V. Krauklis, G. Karpinskis. Fizika VI klasei (1963)

    dt Fiz 2 — A. Pjoriškins, J. Minčenkovs, V. Krauklis, G. Karpinskis. Fizika VII klasei (1963)

    dt Fiz k — A. Pjoriškins. Fizikas kurss, I—II (1955)

    dt Fiz r — V. Fļorovs, I. Kolangs, P. Puķītis, E. Šilters, E. Vainovskis. Fizikas rokasgrāmata (1985)

    dt Flora — I—IV. Latvijas PSR flora, I—IV (1953—1959)

    dt Fogels, Grīnbergs — AIVARS FOGELS, OTTO GRĪNBERGS
    dd 1. Starptautiskās tiesības (1981)

    dt Freimanis — KĀRLIS FREIMANIS
    dd 1. Mūsu sadzīves skaistumam (1970)

    dt Friz — Friziera darba meistarība (1974)

    dt G Rudzītis — GUNĀRS RUDZĪTIS
    dd 1. Ķīmija (1968)

    dt Gailis — DAUMANTS GAILIS
    dd 1. Kora dziedātāju rokasgrāmata (1961)

    dt Galenieks — PAULS GALENIEKS
    dd 1. Botānika (1945)
    dd 2. Augu sistemātika (1960)

    dt Gāliņš — HARIJS GĀLIŅŠ
    dd 1. Ar vētru krastā dzintars nāks (1959)
    dd 2. Akmens dzirkstis (1967)
    dd 3. Starpbrīdis (1974)
    dd 4. Karūsām jāķer līdakas (1972)
    dd 5. Viļņi (1981)

    dt Gaudiņš — FRICIS GAUDIŅŠ
    dd 1. Cilvēka izcelšanās (1964)

    dt Goba — ARTŪRS GOBA
    dd 1. Zemes balsis (1975)
    dd 2. Pietura (1972)
    dd 3. Pīlādžu gadskārtas. Pieskāriens. Dzejoļu divkrājums (1979)
    dd 4. Saules ritmi (1982)
    dd 5. Ka sudrabvītols mēnesnīcā (1982)

    dt Gram — I—II. Mūsdienu latviešu literārās valodas gramatika, I-II sēj. (1959—1962)

    dt Grāmata — mēnešraksts „Grāmata”

    dt Grants — JĀNIS GRANTS
    dd 1. Mazās upes sākums (1945)
    dd 2. Kalna sādžas aizstāvēšana (1947)
    dd 3. Frontes stāsti (1948)
    dd 4. Vēja pusē (1949)
    dd 5. Aiz mums Maskava (1954)
    dd 6. Ausma ceļā. Izlase (1959)
    dd 7. Šalc zilais lauks (1959)
    dd 8. Saules lēkti Vēju salā (1962)

    dt Grāvītis — OĻĢERTS GRĀVĪTIS
    dd 1. Sonāte (1959)
    dd 2. Mūzikas publicistika. Izlase (1976)

    dt Grebzde — IRMA GREBZDE
    dd 1. Te nu es esmu! (1991)

    dt Grīns — ALEKSANDRS GRĪNS
    dd 1. Dvēseļu putenis (1989)
    dd 2. Nameja gredzens (1989)

    dt Grīva — ŽANIS GRĪVA
    dd I—III. Izlase, I—III sēj. (1960)
    dd 1. Viņpus Pirenejiem (1948)
    dd 2. Stāsti par Spāniju (1950)
    dd 3. Ulitas upes ieleja (1950)
    dd 4. Dzīvības ceļš (1953)
    dd 4a. Dzīvības ceļš (1958)
    dd 5. Zem albatrosa spārniem (1956)
    dd 6. Vai tu esi cilvēks? (1958)
    dd 7. Divi cilvēki jūrā (1964)
    dd 8. Džungļu upe Mellakore (1966)
    dd 9. Antistāsti (1966)
    dd 10. Mīlestība un naids (1963)
    dd 11. Lidojums (1980)
    dd 12. Slepkavība violetā rītausmā (1982)

    dt Grīziņš — JĀNIS GRĪZIŅŠ
    dd 1. Vārnu ielas republika (1947)

    dt Grots — JĀNIS GROTS
    dd 1. Rīta stunda (1946)
    dd 2. Nākamība (1948)
    dd 3. Padomju saulē (1950)
    dd 4. Augšanas prieks (1951)
    dd 5. Lirika (1957)
    dd 6. Vakaru stāsti ciematā (1959)

    dt Gudriķe — BIRUTA GUDRIĶE
    dd 1. Teodors Lācis (1977)

    dt Gulbis — HARIJS GULBIS
    dd 1. Un visi nāks pie manis... (1972)
    dd 2. Sarunas ar skopām remarkām (1974)
    dd 3. Pieneņu laiks (1976)
    dd 4. Doņuleja (1983)
    dd 5. Lugas par mājām (1986)

    dt Gūtmanis — OLAFS GŪTMANIS
    dd 1. Tur, Haijarlika ciedru silos (1982)
    dd 2. Tundras un taigas stāsti (1984)
    dd 3. Atgriešanās ceļš (1981)
    dd 4. Dzīves grāmata (1992)

    dt Ģ — A. GRAVA, A. TĪRUMA. Ģeometrija 7. klasei (1963)

    dt Ģeogr — Latvijas PSR ģeogrāfija (1975)

    dt Geol — Latvijas PSR ģeoloģija (1961)

    dt Ģeom — I—II. A. Kiseļevs. Ģeometrija, I—II daļa (1955)
    dd Ia—IIa. A. Kiseļevs. Ģeometrija, I—II daļa (1962)

    dt Hānbergs — ĒRIKS HĀNBERGS
    dd 1. Kartupeļu stāsti (1989)

    dt Hausmanis — VIKTORS HAUSMANIS
    dd 1. Sarunas ar Felicitu Ertneri (1977)
    dd 2. Lilija Ērika (1968)
    dd 3. Dramaturgs Harijs Gulbis (1980)
    dd 4. Lilita Bērziņa (1980)
    dd 5. Alma Ābele (1983)

    dt Heislers — HARIJS HEISLERS
    dd 1. Tālums un tuvums (1968)
    dd 2. Sīkstums (1970)
    dd 3. Otrā elpa (1973)
    dd 4. Rudens atspulgi (1982)

    dt Hiršs — HARIJS HIRŠS
    dd 1. Autora pozīcija romānā (1980)

    dt Hor — žurnāls „Horizonts”

    dt I Eglītis — IMANTS EGLĪTIS
    dd 1. Psihiatrija (1974)
    dd 2. Par cilvēka psihi (1979)

    dt Ikaunieks — JĀNIS IKAUNIEKS
    dd 1. Zvaigžņotais Visums (1958)
    dd 2. Bezgalīgā Visuma tālēs (1954)

    dt Imermanis — ANATOLS IMERMANIS
    dd 1. Pie Daugavas (1947)
    dd 2. Lidojums (1949)
    dd 3. Pilsēta pie jūras (1951)
    dd 4. Kur visi kuģi satiekas (1953)
    dd 5. Molberts (1981)

    dt Indāns — RŪDOLFS INDĀNS
    dd 1. Meža cirtēja darba rīki un to kopšana (1960)

    dt Indrāne — ILZE INDRĀNE
    dd 1. Dzirkstis (1959)
    dd 2. Lazdu laipa (1963)
    dd 3. Maize (1966)
    dd 4. Kur ir tāda egle... (1964)
    dd 5. Cepure ar kastaņiem (1966)
    dd 6. Ūdensnesējs (1971)
    dd 7. Anemone (1974)
    dd 8. Meklēju zēnu ar zaļām acīm (1975)
    dd 9. Basām kājām (1970)
    dd 10. Zemesvēzi dzirdēt (1984)

    dt Izglītība — laikraksts „Izglītība”

    dt Izglītība un Kultūra — laikraksts „Izglītība un Kultūra”

    dt Izrakt — I. Eiduks, M. Kalniņš. Latvijas PSR derīgie izrakteņi un to izmantošana (1961)

    dt J A Jansons — JĀNIS ALBERTS JANSONS
    dd 1. Brīvs, radošs darbs un cīņa par to — darba tautas morālās dzīves pamats (ievads tautas dziesmu izlasei „Darba vara lielu dara”, 1960)

    dt J Kalniņš. — JĀNIS KALNIŅŠ
    dd 1. Pa gadu kāpnēm (1966)
    dd 2. Kad strazdi svelpj (1968)
    dd 3. Andrejs Pumpurs (1964)
    dd 4. Mūžība (1971)
    dd 5. Zelta kamolītis (1965)
    dd 6. Satīras asajā gaismā (1957)
    dd 7. Rainis (1977)
    dd 8. Savādnieki (1979)
    dd 9. Auseklis (1981)
    dd 10. Sudraba karote (1986)
    dd 11. Sadursmes krēslas laikmetā (1993)

    dt J Liepiņš — JĀNIS LIEPIŅŠ
    dd 1. Pareiza krāsa (1966)
    dd 2. Zaļš mutulis (1980)
    dd 3. Vārddevības (1983)
    dd 4. Mirgojoši apļi (1985)
    dd 5. Smalki ļaudis (1990)

    dt J Plotnieks — JĀNIS PLOTNIEKS
    dd 1. Deg ziemeļu zvaigzne (1964)
    dd 2. Nami un cilvēki (1964)
    dd 3. Rotaļa (1972)
    dd 4. Melnie un baltie (1966)
    dd 5. Siena laiks (1975)
    dd 6. Viena raiba vasara (1977)
    dd 7. Ceļi sauc tālāk (1963)
    dd 8. Divkauja ar sevi (1979)
    dd 9. Ozolu vecis (1980)
    dd 10 Zied pienenes pirms salnas (1983)
    dd 11. Tilts (1984)
    dd 12. Ar nātras mīlestību (1985)

    dt J Rokpelnis — JĀNIS ROKPELNIS
    dd 1. Rīgas iedzimtais (1981)

    dt Jakubāns — ANDRIS JAKUBĀNS
    dd 1. Mana baltā ģitāra (1968)
    dd 2. Burves aiziešana (1980)

    dt Janovskis — GUNARS JANOVSKIS
    dd 1. Sōla. Pār Trentu kāpj migla (1991)
    dd 2. Pēc pastardienas (1991)

    dt Jansons — ALBERTS JANSONS
    dd 1. Kēņu Ciems (1950)
    dd 2. Ķēņu ciems mostas (1953)
    dd 3. Vientulības ilgas (1965)
    dd 4. Tumša nakte, zaļa zāle (1975)
    dd 5. Sāpe nenorimst (1977)
    dd 6. Klusa nakts (1985)

    dt Janševskis — JĒKABS JANŠEVSKIS
    dd 1. Dzimtene, I daļa (1927)
    dd 2. Dzimtene, II daļa (1927)
    dd 3. Līgava, I daļa (1931)
    dd 4. Līgava, II daļa (1932)
    dd 5. Bandavā, I sējums (1928)
    dd 6. Bandavā, II sējums (1928)
    dd 7. Mežvidus ļaudis, I daļa (1929)
    dd 8. Mežvidus ļaudis, II daļa (1929)

    dt Jaun Gr — biļetens „Jaunās Grāmatas”

    dt Jauno a — Jauno autoru almanahs (1952—1954)

    dt Jauno v — almanahs „Jauno vārds” (1955—1962)

    dt Jaunsudrabiņš — JĀNIS JAUNSUDRABIŅŠ
    dd I—VIII. Kopoti raksti, I—VIII sēj. (1927—1931)
    dd Ia—XVa. Kopoti raksti, I—XV sēj. (1981—1985)
    dd 1. Baltā grāmata,
    dd 1. daļa (1931)
    dd la. Baltā grāmata,
    dd 1. daļa (1938)
    dd 2. Baltā grāmata, 2. daļa (1935)
    dd 3. Baltā grāmata (1957)
    dd 4. Aija. Triloģija (1957)
    dd 5. Ar makšķeri (1958)
    dd 6. Zaļā grāmata (1959)
    dd 7. Vēja ziedi (1959)
    dd 8. Tā pasaule paiet (1977)

    dt Jēk Mediņš — JĒKABS MEDIŅŠ
    dd 1. Kora zinātņu pamati (1956)
    dd 2. Silueti (1968)

    dt Jokums - KONRĀDS JOKUMS
    dd 1. Izlase (1959)

    dt Jurciņš — PĒTERIS JURCIŅŠ
    dd 1. Klātbūtne (1972)
    dd 2. Gar doņiem ejot (1981)

    dt K Grigulis — KĀRLIS GRIGULIS
    dd 1. Spārnotie meistari (1955)
    dd 2. Zīlītes pirmā dziesma (1957)
    dd 3. Čivulītes īstās mājas (1958)
    dd 4. Lielais Tlitlis un mazie šnībīšu (1959)
    dd 5. Putnu grāmata (1964)

    dt K Grigulis, Zālīte — KĀRLIS GRIGULIS, ELĪNA ZĀLĪTE
    dd 1. Vāverīte Baltastīte (1954)

    dt K Rudzītis — KRISTAPS RUDZĪTIS
    dd 1. Iekšķīgo slimību vispārējā diagnostika (1949)
    dd 2. Iekšķīgo slimību vispārējā diagnostika (1960)

    dt K Skalbe — KĀRLIS SKALBE
    dd 1. Pasakas (1957)
    dd 2. Dzeja (1957)

    dt K Zariņš — KĀRLIS ZARIŅŠ
    dd 1. Kaugurieši (1975)
    dd 2. Spīganas purvā (1981)

    dt Kačalova — TATJANA KAČALOVA
    dd 1. Vilhelms Purvītis (1971)

    dt Kadiķis-Groznijs — ARTURS KADIĶIS-GROZNIJS
    dd 1. Rakstu izlase (1956)

    dt Kaijaks — VLADIMIRS KAIJAKS
    dd 1. Akācija akmens pagalmā (1973)
    dd 2. Bailes (1977)
    dd 3. Stāsti par laimi (1966)
    dd 4. Soļi (1977)
    dd 5. Atgriešanās (1980)
    dd 6. Signe (1983)
    dd 7. Rēgi (1993)

    dt Kaldupe — SKAIDRĪTE KALDUPE
    dd 1. Grieze sauc (1961)
    dd 2. Linu zieds (1968)
    dd 3. Piejūras dārzi (1968)
    dd 4. Padebešu kalns (1971)
    dd 5. Pūķagalva (1972)
    dd 6. Griezes bērns (1970)
    dd 7. Vēstules no Ošu zemes (1973)
    dd 8. Dižā kalve (1974)
    dd 9. Rudzu sējējs (1976)
    dd 10. Ziemeļzemes pasakas (1976)
    dd 11. Zīļu lietus (1971)
    dd 12. Vidzemes ceļinieks (1979)
    dd 13. Meža mozaīkas (1980)
    dd 14. Meža grāmata (1982)
    dd 15. Rīgas vējlukturi (1933)
    dd 16. Avotkrūze (1985)
    dd 17. Cīruļmaize (1989)

    dt Kalna — NORA KALNA
    dd 1. Kliedziens (1972)
    dd 2. Slaloms (1979)

    dt Kalnājs — TĀLIVALDIS KALNĀJS
    dd 1. Varde un ekskavators (1955)

    dt Kalndruva — MĀRTIŅŠ KALNDRUVA
    dd 1. Nemierīgais cilvēks (1958)
    dd 2. Cilvēka sirds (1961)
    dd 3. Gravā pogoja lakstīgalas (1960)
    dd 4. Es, mans draugs un Mings (1963)
    dd 5. Tīrumā (1963)
    dd 6. Mazā birztala (1966)
    dd 7. Avots (1974)
    dd 8. Kursas stāsti (1976)
    dd 9. Vējš pakar kokli (1979)
    dd 10. Uz tas pašas zemes (1982)
    dd 11. Pasakas (1984)
    dd 12. Pēdas gar krastu (1990)

    dt Kalniņa — GINTA KALNIŅA
    dd 1. No auduma līdz tērpam (1978)

    dt Kalve — AIVARS KALVE
    dd 1. Vēja kaņepes (1973)
    dd 2. Radu raksti (1981)
    dd 3. Akmeni veļot (1984)
    dd 4. Krītošais Ikars (1986)

    dt Kar — žurnāls „Karogs”

    dt Karlsons — KĀRLIS KARLSONS
    dd 1. Cements (1956)

    dt Karpovics — ERNSTS KARPOVICS
    dd 1. Kas ir telpa un laiks? (1960)

    dt Katlape, Ceplītis — NORA KATLAPE, LAIMDOTS CEPLĪTIS
    dd 1. Žanis Katlaps (1979)

    dt Kaudzītes — REINIS UN MATĪSS KAUDZĪTES
    dd 1. Mērnieku laiki (1954)
    dd la. Mērnieku laiki (1955)

    dt Kib — A. Ermuiža, L. Rastrigins. Kibernētika un nejaušība (1965)

    dt Kin — almanahs „Runā kinematogrāfisti”

    dt Kino — žurnāls „Kino”

    dt Kirhenšteins — AUGUSTS KIRHENŠTEINS
    dd 1. Pareizs uzturs kā spēka un veselības pamats (1947)
    dd 2. Jaunas atziņas par pareizu uzturu un vitamīniem (1951)
    dd 3. Vitamīni un citas uzturvielas organisma aizsardzībā pret infekcijām (1936)

    dt Kiršentāle — INGRĪDA KIRŠENTĀLE (INGRĪDA BEHMANE)
    dd 1. Latviešu romāns (1979)

    dt Klints — ANTA KLINTS (K. Pamšes literārā apdare)
    dd 1. Tā nebija lietaina diena (1974)

    dt Klīdzējs — JĀNIS KLĪDZĒJS 
    dd 1. Dāvātās dvēseles (1992)

    dt Klīvers — VALDIS KLĪVERS
    dd 1. Traktoru stacijas mazā saimniece (1949)
    dd 2. Bīstamie sēkļi (1956)
    dd 3. Rūgtais vīns (1967)
    dd 4. Kamēr saule pie debesīm (1977)

    dt Klotiņš — ARNOLDS KLOTIŅŠ
    dd 1. Alfrēds Kalniņš (1979)
    dd 2. Mūzika un idejas (1987)

    dt Kļava — MIRDZA KĻAVA
    dd 1. Māra Rīgā (1979)
    dd 2. Katram sava orhideja (1983)
    dd 3. Mēs arī esam pasaulē (1984)

    dt Kļaviņa — AINA KĻAVIŅA
    dd 1. Pusdienas katrai dienai (1974)

    dt Kļavis — AIVARS KĻAVIS
    dd 1. Satikšanās spogulī (1984)
    dd 2. Es saucu, lai atsauktos (1988)

    dt Koki un kr — A. Mauriņš, M. Morkons, A. Zvirgzds. Latvijas PSR koki un krūmi (1958)

    dt Kolbergs — ANDRIS KOLBERGS
    dd 1. Atraitne janvārī (1984)
    dd 2. Ēna (1985)
    dd 3. Naktī, lietū... Automobilī rīta pusē (1986)

    dt Kopš c — A. Zviedris, R. Sacenieks, J. Matuzānis. Kopšanas cirtes Latvijas PSR mežos (1961)

    dt Krāsa — S. Timšāns, V. Šusts, V. Kalva, Z. Gaile, M. Lagzdiņš. Krāsa, telpa, ziedi (1970)

    dt Krasinska, Utkins — LIJA KRASINSKA, VALENTĪNS UTKINS
    dd 1. Mūzikas elementārteorija (1981)

    dt Krieviņš — MĀRTIŅŠ KRIEVIŅŠ
    dd 1. Taurupe — viss kā Latvijā (1960)
    dd 2. Septiņi pistoles šāvieni spoku stundā (1976)
    dd 3. Strēlnieki pārnāk mājās (1980)

    dt Krim k — Latvijas Padomju Sociālistiskās Republikas Kriminālkodekss (1962)

    dt Krim k 1 — Latvijas Padomju Sociālistiskas Republikas Kriminālkodekss (1976)

    dt Krim k 2 — Latvijas Padomju Sociālistiskas Republikas Kriminālkodekss (1984)

    dt Krim pr — Latvijas Padomju Sociālistiskas Republikas Kriminālprocesa kodekss (1963)

    dt Krim pr 1 — Latvijas Padomju Sociālistiskas Republikas Kriminālprocesa kodekss (1973)

    dt Krim pr 2 — Latvijas Padomju Sociālistiskas Republikas Kriminālprocesa kodekss (1985)

    dt Kritikas g — rakstu krājums „Kritikas gadagrāmata”

    dt Kroma — MONTA KROMA
    dd 1. Svinīgais solījums (1947)
    dd 2. Tev, gvard! (1950)
    dd 3. Pie Eiropas un Āzijas robežām (grāmatā M. Kroma, B. Burlaks
    dd „Neskarto zemju plašumos”, 1956)
    dd 4. Tālo apvāršņu zemē (1959)
    dd 5. Refrēni (1979)
    dd 6. Monta (1985)
    dd 7. Citi veidi (1988)

    dt Kronītis — JĀNIS KRONĪTIS
    dd 1. Mežkopja rokasgrāmata (1972)
    dd 2. Dabas aizsardzība (1977)

    dt Krūklis — ALFRĒDS KRŪKLIS
    dd 1. Pavasaris dzimtenē (1953)
    dd 2. Diena aust (1955)
    dd 3. Putni, kas nepagurst (1958)
    dd 4. Zvaigžņu karavānas (1964)
    dd 5. Ugunsputna spārns (1970)
    dd 6. Sarkanie rudens zirgi (1969)
    dd 7. Teic, kur zeme tā (1973)
    dd 8. Ķiršu lietus (1977)
    dd 9. Caur zilu mūža dzeju (1981)
    dd 10. Vienas rozes dēļ (1985)

    dt Krūmiņš — EGONS KRŪMIŅŠ
    dd 1. Arī tava daļa (1966)

    dt Krūza — KĀRLIS KRŪZA
    dd 1. Skaidrie strauti (1924)
    dd 2. Saltā namā (1913)
    dd 3. Ar zelta irkli (1984)

    dt Kučinska — VERONIKA KUČINSKA
    dd 1. Olita Āboliņa (1977)

    dt Kurcijs — ANDREJS KURCIJS
    dd 1. Cūkgans (1956)
    dd 2. Atmoda (1957)
    dd 3. Dzīvības vārtos (1956)
    dd 4. Vienkāršā dzīve (1959)
    dd 5. Dzeja (1958)

    dt Ķ — D. Kirjuškins. Ķīmija. Mācību grāmata septiņgadīgo skolu un vidusskolu septītajai klasei (1954)

    dt Ķempe — MIRDZA ĶEMPE
    dd 1. Rīta vējš (1946)
    dd 2. Drauga vārdi (1950)
    dd 3. Mieram un dzīvībai (1951)
    dd 4. Dzejas (1955)
    dd 5. Mīlestība (1958)
    dd 6. Skaudrā liesma (1961)
    dd 7. Cilvēka ceļš (1969)
    dd 8. Gaisma akmenī (1967)
    dd 9. Dzintara spogulis (1968)
    dd 10. Mirkļu mūžība (1964)
    dd 11. Ērkšķuroze (1973)

    dt Ķezbere — ELZA ĶEZBERE
    dd 1. Profils stiklā (1990)
    dd 2. Vēstules Peram Gintam (1938)

    dt Ķīm — J. Hodakovs, L. Cvetkovs, S. Šapovaļenko, D. Epšteins. Ķīmija vidusskolu 9.—11. klasei (1963)

    dt Ķirškalne — ADINA ĶIRŠKALNE
    dd 1. Rītdienas prieks (1977)

    dt L Zin — laikraksts „Latvijas Zinātnieks” (1958—1961)

    dt Labrīt — laikraksts „Labrīt”

    dt Lācis — VILIS LĀCIS
    dd I–X. Raksti, I–X sēj. (1959-1962)
    dd 1. Noveles un stāsti (1946)
    dd 2. Zvejnieka dēls (1935)
    dd 3. Lugas (1948)
    dd 4. Zvejnieka dēls (1947)
    dd 5. Putni bez spārniem (1949)
    dd 6. Vētra, 1 daļa (1946)
    dd 7. Vētra, II daļa (1947)
    dd 8. Vētra, III daļa (1949)
    dd 9. Vanadziņš un citi stāsti (1952)
    dd 10. Pazudusī dzimtene (1953)
    dd 11. Ciems pie jūras (1954)
    dd 12. Uz jauno krastu (1953)
    dd 13. Zītaru dzimta (1955)
    dd 14. Pēc negaisa (1962)
    dd 15. Zvaigznes pār jūru (1964)

    dt Laganovskis — JEZUPS LAGANOVSKIS
    dd 1. Kad vēji šalc (1956)
    dd 2. Labākais piemineklis (1980)
    dd 3. Vienīgā mīlestība (1978)

    dt Lagzdiņš — VIKTORS LAGZDIŅŠ
    dd 1. Teltis pie upes (1958)
    dd 2. Pārbaude (1959)
    dd 3. Zili zaļa romantika (1966)
    dd 4. Zili zaļā (1986)

    dt Laicens — LINARDS LAICENS
    dd I—IX. Raksti, I—IX sēj. (1958—1960)
    dd 1. Kliedzošie korpusi (1955)
    dd 2. Akmens logā (1956)

    dt Lāms — VISVALDIS LĀMS (VISVALDIS EGLONS)
    dd 1. Vienu avota lāsi (1971)
    dd 2. Mūža guvums. Visaugstākais amats (1974)
    dd 3. Raudze (1973)
    dd 4. Trase (1980)
    dd 5. Pavarda kungs Ašgalvis (1982)
    dd 6. Jokdaris un lelle (1972)
    dd 7. Kāvu blāzmā (1989)

    dt Lapsa — JĀNIS LAPSA
    dd 1. Siļķu grāmata (1974)
    dd 2. Atspīdumi ūdenī un citur (1974)
    dd 3. SOS pēcpusdienā (1978)
    dd 4. Ceļaspieķis (1980)
    dd 5. Banānu grāmata (1980)
    dd 6. Rūgtums (1983)
    dd 7. Zirgs, kas naktī dzied (1985)

    dt Lasmanis — IMANTS LASMANIS
    dd 1. Ceļi šķērso horizontu (1962)
    dd 2. Dziesmas zaļajai zālei (1965)
    dd 3. Saknes (1966)
    dd 4. Mana maize (1971)

    dt Latv dzīvn — Latvijas dzīvnieki (1966)

    dt Latv etn — Latviešu etnogrāfija (1969)

    dt Latv J — laikraksts „Latvijas Jaunatne”

    dt Latv meži — Latvijas meži (1987)

    dt Latvju Mēnešraksts — žurnāls „Latvju Mēnešraksts”

    dt Laua — ALISE LAUA
    dd 1. Latviešu leksikoloģija (1969)
    dd 2. Latviešu literārās valodas fonētika (1969)

    dt Lauku Avīze — laikraksts „Lauku Avīze”

    dt Lauku Dzīve — žurnāls „Lauku Dzīve”

    dt Laul k — Padomju Sociālistiskas Republikas Laulības un ģimenes kodekss (1977)

    dt Lazda — ZINAĪDA LAZDA
    dd 1. Es zvaigznēs ieeju Pār jūru (1992)

    dt LD — Latvju dainas, I–VI sēj. Sakopojis Kr. Barons (1894—1915)

    dt Leimane — ILONA LEIMANE
    dd 1. Mātes cilts (1991)

    dt Lēmanis — INDRIĶIS LĒMANIS
    dd 1. Māte (1940)
    dd 2. Tālais rīts (1941)
    dd 3. Kalpu taka (1945)
    dd 4. Klusie varoņi (1945)
    dd 5. Gaišais logs (1945)
    dd 6. Gunāram nav laika (1946)
    dd 7. Mazais cīnītājs (1947)
    dd 8. Kalve (1947)
    dd 9. Nomales vējos (1949)
    dd 10. Cietās rokas (1950)
    dd 11. Nākotnes vārdā (1951)
    dd 12. Pa dzīves ceļiem (1957)
    dd 13. Pa dzīves ceļiem, 1. daļa (1948)
    dd 14. Pa dzīves ceļiem, 2. daļa (1950)
    dd 15. Pa dzīves ceļiem, 3. daļa (1953)
    dd 16. Stāstu izlase (1954)
    dd 17. Dienas ausmā (1955)
    dd 18. Kaujas baterija (1960)

    dt Lielais — ARTURS LIELAIS
    dd 1. Karību jūras smaragds (1966)
    dd 2. Inku zelts (1970)
    dd 3. Uz musonu krastiem (1972)
    dd 4. Pāri Melnajam kontinentam (1978)
    dd 5. Pie Zambezi un Njasa ezera (1979)
    dd 6. Konkistadori (1979)
    dd 7. Nīlas izteku meklējot (1981)

    dt Liepa — MĀRIS LIEPA
    dd 1. Es gribu dejot simt gadu. Erika Tivuma literārais pieraksts (1981)

    dt Liepiņš — PĒTERIS LIEPIŅŠ
    dd 1. Zemes garozas uzbūve Latvijā (1956)

    dt Liesma — žurnāls „Liesma”

    dt Lisovska — OLGA LISOVSKA
    dd 1. Priede kalnā (1959)
    dd 2. Apsolītā zeme (1966)
    dd 3. Pavedieni (1970)
    dd 4. Pie jūsu mīlestības... (1973)
    dd 5. Zilais skrējiens (1977)
    dd 6. Tur ilgi ejams (1985)

    dt Lit Av — laikraksts „Literatūras Avīze” (1940—1941)

    dt Lit M — laikraksts „Literatūra un Māksla”

    dt Lit met — M. Gaile, H. Grase, V. Niedra. Latviešu literatūras metodika (1959)

    dt Līce — ANDA LĪCE
    dd 1. Bet tagad par sauli (1992)
    dd 2. Vēstules bez pasta zīmoga (1992)

    dt Līvs — EGONS LĪVS
    dd 1. Selgas vīri (1962)
    dd 2. Velnakaula dvīņi (1966)
    dd 3. Kapteinis Nulle (1963)
    dd 4. Slieksnis (1974)
    dd 5. Pārnākšana (1977)

    dt Līvzemnieks — VIKTORS LĪVZEMNIEKS
    dd 1. Cilvēks, kuru gaida (1965)
    dd 2. Aiz dangām dārzs (1982)

    dt LLK — I—V. Latviešu literatūras kritika, I—V sēj. (1956—1964)

    dt LLM — Latviešu lietišķā māksla. Sastādījusi B. Sturme (1989)

    dt LLV — I—VI. Latviešu literatūras vēsture, I—VI sēj. (1959—1962)

    dt Loja — JĀNIS LOJA
    dd 1. Valodniecības pamatjautājumi (1958)
    dd 2. Valodniecības vēsture (1961)

    dt Losberga — MILDA LOSBERGA
    dd 1. Vējaroze (1973)
    dd 2. Jūras cerība (1978)
    dd 3. Saules izsalkusī (1983)

    dt LPT — I—XV. Latviešu pasakas un teikas, I—XV sēj. Sakopojis un rediģējis prof. P. Šmits (1925—1937)

    dt LPTV — I—II. Latviešu padomju teātra vēsture, I—II sēj. (1973—1974)

    dt LSP(K) — Latviešu sakāmvārdi un parunas. Izlase. Sastādījusi E. Kokare (1957)

    dt LSP(N) — Latviešu sakāmvārdi un parunas. Sakārtojuši Jānis Niedre un Jānis Ozols (1955)

    dt LTAn — Latviešu tautas anekdotes. Izlase. Sastādījis K. Arājs (1961)

    dt LTD — I—X. Latvju tautas daiņas, I—X sēj. Sakārtojis R. Klaustiņš (1925—1932)

    dt LTdz — I—III. Latviešu tautasdziesmas. Izlase, I—III sēj. (1955—1957)

    dt LTM — Latviešu tautas mīklas. Izlase. Sastādījusi A. Ancelane (1954)

    dt LTP — Latviešu tautas pasakas. Izlase. A. Alksnītes, O. Ambaiņa, A. Ancelānes, K. Arāja, M. Asares sakārtojumā (1956)

    dt LTPdz — Latviešu tautas pasakas par dzīvniekiem un putniem. Sakārtojis Jānis Niedre (1952)

    dt LTT — Latviešu tautas teikas. Izlase. Sastādījusi A. Ancelāne (1961)

    dt LTTP — I—VII. Latviešu tautas teikas un pasakas, I—VII sēj. Sakopojis A. Lerhis-Puškaitis (1891—1903)

    dt Lubējs — INTS LUBĒJS
    dd 1. Satikšanās (1959)
    dd 2. Saltā rasa (1968)
    dd 3. Dvīņu zvaigznājs (1977)
    dd 4. Attālinādamies un tuvodamies (1981)

    dt Luginska — RITA LUGINSKA
    dd 1. Menuets un cūkpupas (1979)

    dt Lukjanskis — EGILS LUKJANSKIS
    dd 1. Izvēle (1966)
    dd 2. Pieskāriens (1971)
    dd 3. Bez žēlastības (1973)
    dd 4. Neuzvarētais (1977)
    dd 5. Memento mori (1977)
    dd 6. Skrējiens bezgalībā (1981)

    dt Lukss — VALDIS LUKSS
    dd I—IV. Raksti, I—IV sēj. (1965—1967)
    dd 1. Dzejas (1949)
    dd la. Dzejas (1951)
    dd 2. Izlase (1955)
    dd 3. Pirmklasnieki (1956)
    dd 4. Slava (1958)
    dd 5. Uzbrukums N pilsētai (1949)
    dd 6. Skarbums (1941)
    dd 7. Rīta solis (1951)
    dd 8. Dzejoļi un poēmas (1955)
    dd 9. Augsim (1948)
    dd 10. Rita sāk dzīvot (1948)
    dd 11. Tā atsoļo rīts (1975)
    dd 12. Asins raudze (1970)
    dd 13. Iepēdas (1980)
    dd 14. Klātums (1978)

    dt LZA Vēstis — žurnāls „Latvijas Zinātņu Akadēmijas Vēstis”

    dt Ļeņins — VLADIMIRS IĻJIČS ĻEŅINS
    dd I—XLV. Raksti, I—XLV sēj. (1948—1974)

    dt Ļūdēns — VITAUTS ĻŪDĒNS
    dd 1. Tāšu raksti (1973)
    dd 2. Usmas un Mežotnes sonetas (1975)
    dd 3. Pulksteņi (1967)
    dd 4. Vairogi (1980)
    dd 5. Vara vārtos (1980)
    dd 6. Laiva (1984)

    dt M Kalniņš — MĀRTIŅŠ KALNIŅŠ
    dd 1. Mazgāšana un ķīmiskā tīrīšana mājsaimniecībā (1957)

    dt M Kalve — MILDA KALVE
    dd 1. Jaunākās latviešu padomju dzejas apcirkņos (1975)

    dt M kult — Mājas un sadzīves kultūra. Sastādījusi B. Zunde (1958)

    dt M Rudzītis — MEINHARDS RUDZĪTIS
    dd 1. Dzimtā zeme (1946)
    dd 2. Nāves vilciens (1947)
    dd 3. Dziesmu ceļš (1948)
    dd 4. Rīgas piefrontē (1959)
    dd 5. Mūsu darbs un laime (1956)
    dd 6. Ausma pār Daugavu (1964)

    dt M Zālīte — MĀRA ZĀLĪTE
    dd 1. Vakar zaļajā zālē (1977)
    dd 2. Divas dramatiskas poēmas (1987)

    dt M Zariņš — MARĢERS ZARIŅŠ
    dd 1. Saulrietu violetās ērģeles (1970)
    dd 2. Vecrīga (1978)
    dd 3. Pārdomas. Pieraksti. Feļetoni (1980)
    dd 4. Apgaismības gadsimta ēnā (1980)
    dd 5. Dēli (1980)

    dt Mājtur — Mājturība (1961)

    dt Mākonis — MĀKONIS
    dd 1. Izlase (1957)

    dt Māksla — žurnāls „Māksla”

    dt Maldavs — ZIEDONIS MALDAVS
    dd 1. Ģeoloģijas pamati (1959)

    dt Markss — KĀRLIS MARKSS
    dd I—III. Kapitāls, I—III sēj. (1951—1953)

    dt Markss, Engelss — KĀRLIS MARKSS, FRĪDRIHS ENGELSS
    dd 1. Komunistiskās partijas manifests (1951)
    dd 2. Par Angliju (1954)

    dt Mat — H. Graudone, U. Grīnfelds, G. Malzubre, J. Mencis, K. Šteiners. Rokasgrāmata elementārajā matemātikā (1982)

    dt Matisone — MARIJA MATISONE
    dd 1. Latvijas PSR dīķi un to ražības celšana (1959)

    dt Mauliņš — JĀNIS MAULIŅŠ
    dd 1. Minūtēm ritot (1968)
    dd 2. Pēdas (1980)
    dd 3. Mīlestibas infraskaņas (1982)
    dd 4. Kājāmgājējs. Pelēkie zīmējumi (1982)
    dd 5. Jo vakar skanēja si mažors (1986)
    dd 6. Tālie zvani (1986)

    dt Mauriņa — ZENTA MAURIŅA
    dd 1. Uzdrīkstēšanās (1990)
    dd 2. Dzīves vilcienā (1992)

    dt Mauriņš — ARTURS MAURIŅŠ
    dd 1. Saistošā dendroloģija (1973)

    dt ME — I—IV. K. Mīlenbahs. Latviešu valodas vārdnīca, I—IV sēj. Rediģējis, papildinājis un turpinājis J. Endzelīns (1923—1932)

    dt ME pap — I—II. J. Endzelīns, E. Hauzenberga. Papildinājumi un labojumi Kārļa Mīlenbaha Latviešu valodas vārdnīcai, I—II sēj. (1934—1946)

    dt Med — I—IV. Mācību grāmata medicīnisko māsu kursiem, I—IV sēj. (1956—1957)

    dt Medenis — JĀNIS MEDENIS
    dd 1. Dienu krāšņums (1958)
    dd 2. Ugunis naktī (1961)

    dt Medn — Mednieka rokasgrāmata (1976)

    dt Meist 1 — Meistarības problēmas latviešu padomju literatūrā (1957)

    dt Meist 2 — Meistarības problēmas latviešu padomju literatūrā (1958)

    dt Meldere — IJA MELDERE
    dd 1. Stāsti (1959)

    dt Mencis, Sika — JĀNIS MENCIS, ARTURS SIKA
    dd 1. Matemātikas rokasgrāmata skolēniem (1988)

    dt Meteor. — K. Ozola, A. Zirnītis. Meteoroloģija (1951)

    dt Meža t — A. Zviedris, J. Matuzānis, Latvijas PSR meža tipi (1960)

    dt Mežgailis, Zvidriņš — BRUNO MEŽGAILIS, PĒTERIS ZVIDRIŅŠ
    dd 1. Padomju Latvijas iedzīvotāji (1973)

    dt Mihelsons — HARIJS MIHELSONS
    dd 1. Putnu ceļošana (1958)

    dt Millers — LAIMONIS MILLERS
    dd 1. Burāšanas sports (1966)

    dt Muižnieks — IGNATS MUIŽNIEKS
    dd 1. Dzīvais tilts (1950)
    dd 2. Fabulas, stāsti. Izlase (1959)

    dt Mūsu g — Mūsu gaitas. Stāsti. Sastādījis V. Kaupužs (1955)

    dt Neatk Cīņa — laikraksts „Neatkarīgā Cīņa”

    dt Neibarts — AIVARS NEIBARTS
    dd 1. Lasāmgabali (1973)

    dt Niedra — AĪDA NIEDRA
    dd 1. Sieva (1992)
    dd 2. Miera ielas cepurniece (1991)
    dd 3. Vindedze (1992)
    dd 4. Kārdinātāja (1992)

    dt Niedre — JĀNIS NIEDRE
    dd 1. Ķeceris Latgalē (1940)
    dd 2. Piecu korpusu kamerās (1941)
    dd 2a. Piecu korpusu kamerās (1958)
    dd 3. Divos krastos (1945)
    dd 4. Puškānu sala (1947)
    dd 5. Sirdsapziņa (1955)
    dd 6. 33 stāsti (1959)
    dd 7. Latviešu folklora (1948)
    dd 8. Latviešu literatūra, I (1952)
    dd 9. Latviešu literatūra, II (1953)
    dd 10. Rūdījuma gadi (1957)
    dd 11. Priekšvārds grāmatai „Latviešu sakāmvārdi un parunas” (1955)
    dd 12. Pamošanās (1963)
    dd 13. Kāpjoši ūdeņi (1959)
    dd 14. Es biju, esmu, būšu drīz... (1972)
    dd 15. Un vēji triec nodegu pelnus... (1978)
    dd 16. Vai apsteigt laiku? (1982)

    dt Nodieva — AIJA NODIEVA
    dd 1. Latviešu keramika (1977)
    dd 2. Latviešu jaunākā glezniecība (1981)

    dt Norād — I— XIV. Noradījumi par citvalodu īpašvārdu pareizrakstību un pareizrunu latviešu literārajā valodā, I—XIV (1960—1978)

    dt Novadniece — INĀRA NOVADNIECE
    dd 1. Metālmāksla Latvijas arhitektūrā (1975)

    dt Osmanis — JĀZEPS OSMANIS
    dd 1. Soļi (1966)
    dd 2. Stārķēns (1962)
    dd 3. Vilkuvāle (1974)
    dd 4. Čuksti un vējš (1985)

    dt Ošiņa — VILIJA OŠIŅA
    dd 1. Brīnumzāles (1953)

    dt Ozols — ARTURS OZOLS
    dd 1. Raksti valodniecībā (1967)
    dd 2. Raksti folkloristikā (1968)
    dd 3. Latviešu tautasdziesmu valoda (1961)
    dd 4. Vaclatviešu rakstu valoda (1965)

    dt P Bārda — PAULĪNA BĀRDA
    dd 1. Vakarsaulē (1982)
    dd 2. Rudens putniņš (1973)

    dt Pad J — laikraksts „Padomju Jaunatne”

    dt Paegle — LEONS PAEGLE
    dd I—V. Kopoti raksti, I—V sēj. (1956—1958)
    dd 1. Dzeja (1945)
    dd 2. Lugas (1947)
    dd 3. Proza. Romāni (1949)
    dd 4. Stāsti (1950)
    dd 5. Stāsti jaunatnei (1954)
    dd 6. Izlase (1959)

    dt Pasaules sp — Pasaules spogulī. Prozas antoloģija, I—II sēj. (1990)

    dt Pašd sk — Pašdarbības skatuve (1955)

    dt Pavāru gr — M. Pētersone, A. Pasopa. Pavāru grāmata (1957)

    dt Pelēcis — ALEKSANDRS PELĒCIS
    dd 1. Aizsapņošanās (1943)
    dd 2. Talsu leģendas (1980)
    dd 3. Alūksnes grāmata (1984)

    dt Pelēkais — KĀRLIS PELĒKAIS
    dd 1. Dzejoļu izlase (1957)

    dt Pēlmanis — LAIMONS PĒLMANIS
    dd 1. Melodijas (1974)
    dd 2. Varavīksnes lokā (1974)
    dd 3. Ziedi ugunī (1980)
    dd 4. Laika pārspriedzēs (1984)

    dt Pērsietis — PĒRSIETIS
    dd 1. Izlase (1951)

    dt Peters — JĀNIS PETERS
    dd 1. Mans bišu koks (1973)
    dd 2. Dzirnakmens (1968)
    dd 3. Priekšnojautas (1979)
    dd 4. Modinātāju remonts (1980)
    dd 5. Kalējs kala debesīs... (1981)

    dt Piena ieg — A. Kirhenšteins, S. Laganovskis. Augstvērtīga piena iegūšana (1957)

    dt Pion — laikraksts „Pionieris”

    dt Plaudis — JĀNIS PLAUDIS
    dd I—IV. Raksti, I—IV sēj. (1964—1966)
    dd 1. Laika lielums (1948)
    dd 2. Ložmetēju rota. Ģimnāzisti (1972)
    dd 3. Sila runcis (1989)

    dt PL Kom — žurnāls „Padomju Latvijas Komunists”

    dt PL Siev — žurnāls „Padomju Latvijas Sieviete”

    dt PL Skola — žurnāls „Padomju Latvijas Skola” (1940-1963)

    dt Pl tub — K. Segliņš, J. Zariņa. Par plaušu un citu orgānu tuberkulozi (1957)

    dt Plūdonis — VILIS PLŪDONIS
    dd 1. Poēmas
    dd 2. Dzeja un proza (1956)
    dd 3. Mazā Anduļa pirmās bērnības atmiņas (1957)
    dd 4. Darbu izlase (1959)

    dt Pol ek — Politiskā ekonomija. Macību grāmata (1963)

    dt Poligr — V. Popovs. Vispārīgais poligrāfijas kurss (1956)

    dt Poruks — JĀNIS PORUKS
    dd 1. Pērļu zvejnieks (1946)
    dd 2. Kauja pie Knipskas (1952)
    dd 3. Reālistiski stāsti (1953)
    dd 4. Dzejoļi (1957)

    dt Preilis — EDGARS PREILIS
    dd 1. Divu krastu ļaudis (1962)

    dt Priede — GUNARS PRIEDE
    dd 1. Jaunākā brāļa vasara (1955)
    dd 2. Pozitīvais tēls (1960)
    dd 3. Pie Daugavas (1977)
    dd 4. Sēnes un siens (1988)

    dt Priedītis — ARTŪRS PRIEDĪTIS
    dd 1. Zivis un makšķerēšana (1955)
    dd 2. Ar makšķeri Latvijas PSR ezeros un upēs (1960)

    dt Psihol — Psiholoģija. Mācību grāmata pedagoģiskajiem institūtiem (1958)

    dt PSKP vēsture — Padomju Savienības Komunistiskās partijas vēsture (1959)

    dt Purapuķe — JĀNIS PURAPUĶE
    dd 1. Spieķis un divi suņi (1959)

    dt Puriņš — ANDRIS PURIŅŠ
    dd 1. Nevaicājiet man neko (1977)
    dd 2. Zelta zirneklis smejas (1981)

    dt Purs — LAIMONIS PURS
    dd 1. Ēnas gaist (1956)
    dd 2. Gadu gaitā (1957)
    dd 3. Degošais pilskalns (1962)
    dd 4. Gaismas staru lokā (1966)
    dd 5. Rieta stundā (1961)
    dd 6. Nepareizā laika stundenis (1971)
    dd 7. Sirdsskaidrais (1964)
    dd 8. Krusts virs pilskalna (1979)
    dd 9. Tālajos pilskalnos (1981)
    dd 10. Karuselis (1984)
    dd 11. Sūrābele pilskalnā (1986)

    dt Purvs — ZIEDONIS PURVS
    dd 1. Atsaukšanās. Dzejoļu izlase (1974)
    dd 2. Ja tu uzticētos (1972)
    dd 3. Cilvēks cilvēkam (1978)
    dd 4. Neatgriešanās atgādinājums (1983)

    dt Putniņš — PAULS PUTNIŅŠ
    dd 1. Paši pūta, paši dega (1975)
    dd 2. Pasaulīt, tu ļaužu ēka... (1983)

    dt R Kaudzīte — REINIS KAUDZĪTE
    dd 1. Domu izteikumi. Aforismu izlase (1973)

    dt Rainis — JĀNIS RAINIS
    dd I—XIV. Kopoti raksti, I—XIV sēj. (1947—1951)
    dd Ia—IIa. Rakstu izlase, I—II sēj. (1945—1946)
    dd Ib—XXVb. Kopoti raksti, I—XXV sēj. (1977—1986)
    dd 1. Zelta zirgs (1958)
    dd 2. Indulis un Ārija (1959)
    dd 3. Uguns un nakts (1953)
    dd 4. Izlase (1959)
    dd 5. Kalnā kāpējs. Aforismu izlase (1962)

    dt Rancāne — ANNA RANCĀNE
    dd 1. Advente (1991)

    dt Rasēš — G. Prokofjevs. Rasēšana. Mācību grāmata 7. un 8. klasei (1963)

    dt Raž 1 — K. Ābele, K. Baums, G. Bērziņš, O. Gilis, J. Meļķis. Ražošanas pamati vidusskolu VIII un IX klasei. Makets (1959)

    dt Raž 2 — K. Baums, I. Kalniņš, A. Ribovskis. Ražošanas pamati vidusskolu X klasei (1960)

    dt Raž 3 — A. Akmentiņš, A. Aukums, O. Āboliņš, K. Baums, E. Vainovskis. Ražošanas pamati vidusskolu XI klasei (1960)

    dt Rīga — Rīga 1860—1917 (1978)

    dt Rīgas B — laikraksts „Rīgas Balss”

    dt Rihters — OSKARS RIHTERS
    dd 1. Meži šalc (1959)

    dt Rinkule — DZIDRA RINKULE-ZEMZARE
    dd 1. Vēl tālu jāiet (1955)
    dd 2. Pagrieziens (1956)
    dd 3. Iedomīgais sienāzis (1954)
    dd 4. Kāda zēna stāsts (1962)
    dd 5. Mazi portreti (1979)
    dd 6. Zvirgzdi (1980)
    dd 7. Meklētie, gaidītie, sastaptie (1981)
    dd 8. Dzīvais koks (1982)
    dd 9. Kikerigū (1981)

    dt Repše — GUNDEGA REPŠE
    dd 1. Koncerts maniem draugiem pelnu kastē (1987)
    dd 2. Septiņi stāsti par mīlu (1992)

    dt Rokpelnis — FRICIS ROKPELNIS
    dd 1. Auž māsa zvaigzni karogā (1950)
    dd 2. Raiņa jaunība (1948)

    dt Rolovs — BRUNO ROLOVS
    dd 1. Par fiziku un fiziķiem (1989)

    dt Rozītis — PĀVILS ROZĪTIS
    dd I—V. Raksti, I—V sēj. (1961—1962)
    dd 1. Ceplis (1949)
    dd 2. Valmieras puikas (1957)
    dd 3. Izlase (1957)

    dt Rubene — ERNA RUBENE
    dd 1. Rokdarbi (1958)

    dt Rubenis — JURIS RUBENIS
    dd 1. Vai migla klīdīs? (1989)

    dt Rudzīte — MARTA RUDZĪTE
    dd 1. Latviešu dialektoloģija (1964)

    dt Rūja — VALDIS RUJA
    dd 1. Lāstekas krīt (1955)
    dd 2. Skaņām piebērta pasaule (1967)
    dd 3. Bērnības līčos ievas zied (1973)
    dd 4. Sudraba gredzens (1977)
    dd 5. Zilākalna ceriņi (1980)

    dt Rumans — PAULS RUMANS
    dd 1. Kur Amudarja plūst (1958)
    dd 2. Tūrisms (1954)

    dt Rupais — AMANDS RUPAIS
    dd 1. Kukaiņu pasaulē (1974)

    dt Rupais, Kalniņa — AMANDS RUPAIS, VELTA KALNIŅA
    dd 1. Krāšņumaugu aizsardzības rokasgrāmata (1979)

    dt Rušiņš — TEODORS RUŠIŅŠ
    dd 1. Forelista piezīmes (1964)

    dt Sakse — ANNA SAKSE
    dd I—VI. Kopoti raksti, I—VI sēj. (1962—1965)
    dd 1. Skarbais piesitiens (1946)
    dd 2. Darba cilts (1948)
    dd 3. Atgriešanās dzīvē (1945)
    dd 4. Lūzums (1949)
    dd 5. Trīs šķūnīši (1951)
    dd 6. Dzirksteles naktī (1957)
    dd 7. Pret kalnu (1948)
    dd 8. Lido, mans putns! (1957)
    dd 9. Lidojums uz Mēnesi (1958)
    dd 10. Čitas burtnīca (1958)
    dd 11. Jaunā maiņa (1947)
    dd 12. Pasakas, I (1946)
    dd 13. Tēva dāvana (1961)
    dd 14. Pasakas par ziediem (1966)
    dd 15. Vēstules jaunībai (1979)

    dt Salenieks — EDUARDS SALENIEKS
    dd I—II. Izlase, I—II sēj. (1960)
    dd 1. Dzegužmala (1949)
    dd 2. Viņās dienās (1949)
    dd 3. Soli pa solim (1952)
    dd 4. Roberts Zalāns (1958)
    dd 5. Atbalsis skan (1957)
    dd 6. Kā nu kurš (1970)
    dd 7. Otrais mētelis, šūts no ielāpiem (1969)

    dt Salenieks, Osīte — EDUARDS SALENIEKS, MIRDZA OSĪTE
    dd 1. Zilas podziņas. Pasakas (1954)

    dt Salnāja — MERSEDE SALNĀJA
    dd 1. Par kādu obelisku (1973)
    dd 2. Kam atstāt mantojumu (1980)
    dd 3 Būt sievietei (1985)

    dt Samsons — VILIS SAMSONS
    dd 1. Kurzemes partizāņi (1956)
    dd 2. Kurzemes meži šalc... (1974)
    dd 3. Naida un maldu šlīkšņā (1983)

    dt Santa — žurnāls „Santa”

    dt Sarma — ANDREJS SARMA
    dd 1. Celtniecības organizācija un ekonomika (1952)
    dd 2. Celtniecības ekonomika (1960)

    dt Saudz dabu — Saudzējiet un mīliet dabu (1958)

    dt Saulietis — AUGUSTS SAULIETIS
    dd I-XIV. Raksti, I-XIV sēj. (1923-1927)
    dd 1. Aiz sniega un tumsas (1958)

    dt Saulītis — BRUNO SAULĪTIS
    dd 1. Gaismas gadi (1949)
    dd 2. Draugu pulkā (1951)
    dd 3. Neaizmirstamie (1953)
    dd 4. Maija balsis (1955)
    dd 5. Āķis lūpā (1958)
    dd 6. Jaunības gadi (1956)
    dd 7. Miegamice (1956)
    dd 8. Cīruļu putenis (1956)
    dd 9. Profesora Vecapiņa dēli (1957)
    dd 10. Daugavas elpa (1959)
    dd 11. Seši no Valolas ielas (1962)
    dd 12. Līdz pēdējai taisnei (1963)
    dd 13. Kad zeme atveras (1966)
    dd 14. Strēlnieka dēls (1960)
    dd 15. Gadskārtu grāmata (1967)
    dd 16. Mūžīgā cerība (1971)

    dt Selga — GUNĀRS SELGA
    dd 1. Ceļā aizsapņojos (1979)

    dt Sēlis — ROBERTS SĒLIS
    dd 1. Silaines muiža (1948)
    dd 2. Stāsti (1949)
    dd 3. Melluzītis (1949)
    dd 4. Burši un zeļļi (1941)
    dd 4a. Burši un zeļļi (1951)
    dd 5. Gaiss viļņo (1954)
    dd 6. Kam vara un viltus (1956)
    dd 7. Tanī bargā dienā (1963)
    dd 8. Es stāstu par sevi. Leišmalē (1974)

    dt Senakols — ROBERTS SENAKOLS
    dd 1. Vingrošanas elementu tehnika un terminoloģija (1957)

    dt Sieviete — žurnāls „Sieviete”

    dt Silazars — JĀNIS SILAZARS
    dd 1. Mana rūpnīca (1955)

    dt Siliņš — ARMANDS SILIŅŠ
    dd 1. Pieprasījums, patēriņš, konjunktūra (1976)

    dt Sils — PĒTERIS SILS
    dd 1. Dziļi ūdeņi (1948)
    dd 2. Saulainas dienas (1950)
    dd 3. Rīts (1950)
    dd 4. Nemirstība (1950)
    dd 5. Pavasaris (1951)
    dd 6. Vectētiņš un dēladēls (1952)
    dd 7. Divi draugi (1954)
    dd 8. Pavasara rītā (1955)

    dt Sirmbārdis — JĀNIS SIRMBĀRDIS
    dd 1. Asnu zobeni (1962)
    dd 2. Dienu bites (1966)
    dd 3. Saulstaru atslēgas (1968)
    dd 4. Kaleidoskops (1972)
    dd 5. Nātru smarža (1975)
    dd 6. Kartupeļu rakšana Ērgļos (1977)
    dd 7. Dzejas mājas kapitālremonts (1984)
    dd 8. Ak, mūžs! (1986)

    dt Sk Av — laikraksts „Skolotāju Avīze”

    dt Sk Ģ — žurnāls „Skola un Ģimene”

    dt Skujiņa — AUSTRA SKUJIŅA
    dd 1. Dzeja (1960)

    dt Skujiņš — ZIGMUNDS SKUJIŅŠ
    dd 1. Ceļi un krustceļi (1954)
    dd 2. Varavīksne (1955)
    dd 3. Esmu dzimis bagāts (1956)
    dd 4. Kolumba mazdēli (1961)
    dd 5. Ciemiņš no viņpasaules (1963)
    dd 6. Fornarina (1964)
    dd 7. Balzams (1972)
    dd 8. Sudrabotie mākoņi (1967)
    dd 9. Brunču medības (1974)
    dd 10. Vīrietis labākajos gados (1975)
    dd 11. Zibens locīšana (1978)
    dd 12. Sermuliņš uz asfalta un citi stāsti (1980)
    dd 13. Jauna cilvēka memuāri (1981)
    dd 14. Gulta ar zelta kāju (1984)

    dt Skulme — KSENIJA SKULME
    dd 1. Piens, augļi, ogas un dārzāji cilvēka uzturā (1959)
    dd 2. Par slima cilvēka uzturu (1954)
    dd 3. Uzturs veselības sardzē (1960)

    dt Slimn kopš — V. Kristmans. Iekšķīgās slimības. Slimnieku kopšana un medicīnas tehnika (1948)

    dt Sloka — JĀNIS SLOKA
    dd 1. Latvijas PSR abinieki un rāpuļi, to nozīme un kaitīgums (1961)

    dt Spāre — VELTA SPĀRE
    dd 1. Pienenīte (1959)
    dd 2. Zilā roze (1960)
    dd 3. Vecās dzirnavas (1966)
    dd 4. Es cilvēkam ticu (1965)
    dd 5. Cīrulēns sniegputenī. Izlase (1972)
    dd 6. Dialogs (1979)

    dt Sports — laikraksts „Sports”

    dt Spuris — ZANDIS SPURIS
    dd 1. Mūsu ezeru bioloģija (1958)

    dt Stankevičs — ANTONS STANKEVIČS
    dd 1. No Braku kalna (1973)
    dd 2. Laimes jumti (1972)
    dd 3. Dvēseles atbalss (1978)
    dd 4. Pēc pirmajiem cīruļiem (1981)

    dt Stērste — ELZA STĒRSTE
    dd 1. Saules koks. Izlase (1972)

    dt Siradiņš — JĀNIS STRADIŅŠ
    dd 1. Cilvēki, eksperimenti, idejas (1965)
    dd 2. Ķīmiķi, kuru vardi jāzina (1967)
    dd 3. Liela zinātnes pasaule un mēs (1980)

    dt Strazdiņš — INDULIS STRAZDIŅŠ
    dd 1. Elektroniskās skaitļošanas mašīnas (1972)
    dd 2. Diskrētās matemātikas pamati (1980)

    dt Strēle — ASJA STRĒLE
    dd 1. Grims (1963)

    dt Strēlerte — VERONIKA STRĒLERTE
    dd 1. Mans laiks (1992)

    dt Strods — PĒTERIS STRODS
    dd 1. Riteņbraukšana (1952)

    dt Stulpāns — JERONIMS STULPĀNS
    dd 1. Vējš pār ezeru (1958)
    dd 2. Cilvēks dedzina kūlu (1962)

    dt Sudrabkalns — JĀNIS SUDRABKALNS
    dd I—VI. Kopoti raksti, I—VI sēj. (1958—1962)
    dd 1. Brāļu saimē. (1947)
    dd 1a. Brāļu saimē (1948)
    dd 2. Karogi sasaucas (1950)
    dd 3. Izlase (1954)
    dd 4. Viena bezdelīga lido (1937)
    dd 5. Bezdelīgas atgriežas (1951)
    dd 6. Ceļa maize (1944)
    dd 7. Vāci Latvijā (1942)
    dd 8. Spuldze vējā (1931)
    dd 9. Spārnotā Armāda (1926)
    dd 10. Oliveretto — Trubadūrs uz ezera (1921)
    dd 11. Oliveretto — Džentlmens ceriņu frakā (1924)
    dd 12. Pārvērtības (1923)
    dd 13. Dzejnieka nemirstība (krājumā „J. Raiņa daiļrade”, 1954)
    dd 14. Dzejas izlase (1948)
    dd 15. Ar mūzām draugos (1974)

    dt Sudrabs — JĀNIS SUDRABS
    dd 1. Augļkopība (1960)

    dt Sudrabu E — SUDRABU EDŽUS
    dd 1. Kaukšķītis. Čauksts (1940)
    dd 2. Dullais Dauka (1948)
    dd 3. Izlase (1952)
    dd 4. Velnu dzinējs (1972)
    dd 5. Laimzemes skola (1985)

    dt Sv Rīts — laikraksts „Svētdienas Rīts”

    dt Svīre — MĀRA SVĪRE
    dd 1. Limuzīns Jāņu nakts krāsā (1979)
    dd 2. Ar vakardienu kabatā (1984)
    dd 3. No cīruļiem līdz griezei (1986)

    dt Šalkonis — ŠALKONIS
    dd 1. Dzejas (1950)

    dt Šķēle — VALDIS ŠĶĒLE
    dd 1. Deggāze (1958)

    dt Šranka — RUTA ŠRANKA
    dd 1. Kibernētika (1962)

    dt Šterns — HUGO ŠTERNS
    dd 1. Namdara darbi (1958)
    dd 2. Namdara darbi (1959)

    dt Štrāls — KĀRLIS ŠTRĀLS
    dd 1. Saulē un ēnās (1956)
    dd 2. Karš (1957)
    dd 3. Likteņi (1970)
    dd 4. Vālodzes balss (1984)

    dt Švinka — ĒVALDS ŠVINKA
    dd 1. Botānika. Izmēģinājuma mācību grāmata 6. klasei (1960)

    dt Talcis — ĀDOLFS TALCIS
    dd 1. Mūsu kolhozā (1950)
    dd 2. Ikdienas kauja (1950)
    dd 3. Mani svārciņi (1954)
    dd 4. Oras stepē (1956)
    dd 5. Manas raibās dienas (1958)
    dd 6. Tālajos ciemos (1960)
    dd 7. Tikšanās ar okeānu (1964)
    dd 8. Sūrie vēji (1974)
    dd 9. Jaunības dienu pēdas (1979)

    dt TAM — Traktori, automobiļi, motocikli. J. Blīvja redakcijā (1974)

    dt Tauriņš — EGONS TAURIŅŠ
    dd 1. Latvijas zīdītājdzīvnieki (1982)

    dt Tavare — RENĀTE TAVARE
    dd 1. Parunāsim par uzvedību (1973)
    dd 2. Cilvēks starp cilvēkiem (1978)

    dt Tdz — I—IV. Tautas dziesmas. Papildinājums Kr. Barona „Latvju dainām”, prof. P. Šmita redakcijā, I—IV sēj. (1936—1939)

    dt Teātris — almanahs „Teātris un dzīve”

    dt Tehn — I—IV. Tehniskā rokasgrāmata, I—IV (1948—1966)

    dt Tēl M — almanahs „Latviešu tēlotāja māksla”

    dt Tērauds — VIKTORS TĒRAUDS
    dd 1. Pļavas un ganības (1958)

    dt Tidomane — GENOVEVA TIDOMANE
    dd 1. Pēteris Upītis (1975)

    dt Tomariņš — KĀRLIS TOMARIŅŠ
    dd 1. Televīzija (1982)

    dt U Plotnieks — ULDIS PLOTNIEKS
    dd 1. Viļņu šūpolēs (1982)

    dt U Plotnieks, Rūmnieks — ULDIS PLOTNIEKS, FRICIS RŪMNIEKS
    dd 1. Pie makšķernieku ugunskura (1957)

    dt Upīte — ASTRA UPĪTE
    dd 1. Minerālu pasaulē (1964)

    dt Upīts — ANDREJS UPĪTS
    dd I—XXII. Kopoti raksti, I—XXII sēj. (1946-1954)
    dd 1. Laikmetu griežos, I daļa (1940)
    dd la. Laikmetu griežos, II daļa (1940)
    dd 2. Kailā dzīvība (1941)
    dd 3. Sūnu ciema zēni (1956)
    dd 4. Zaļā zeme (1947)
    dd 5. Vecas ēnas (1947)
    dd 6. Jauni avoti (1948)
    dd 7. Zīda tīklā (1948)
    dd 8. Pirmā nakts (1949)
    dd 9. Plaisa mākoņos (1955)
    dd 10. Ziemeļa vējš (1955)
    dd 11. Ceļā uz sociālistisko reālismu (1951)
    dd 12. Reālisms literatūrā (1951)
    dd 13. Latviešu literatūra, 1. daļa (1951)
    dd 14. Sociālistiskā reālisma jautājami literatūrā (1957)
    dd 15. Jaunā dzērve (1958)
    dd 16. Stāsti bērniem (1957)
    dd 17. Laimes lācis (1955)
    dd 18. Noveles (1960)

    dt V Kalniņš — VOLDEMĀRS KALNIŅŠ
    dd 1. Latvijas PSR Valsts un tiesību vēsture, I [daļa] (1972)

    dt V str — Vecie latviešu strēlnieki. Stāsti, tēlojumi, atmiņas (1957)

    dt V Šmits — VIKTORS ŠMITS
    dd 1. Mizgrauži (1960)

    dt Vācietis — OJĀRS VĀCIETIS
    dd 1. Tās dienas acīm (1959)
    dd 2. Krāces apiet nav laika (1960)
    dd 3. Elpa (1966)
    dd 4. Ugunīs (1958)
    dd 5. Aiz simtās slāpes (1969)
    dd 6. Dzegužlaiks (1968)
    dd 7. Melnās ogas (1971)
    dd 8. Gamma (1976)
    dd 9. Klavierkoncerts (1978)
    dd 10. Antracīts (1978)
    dd 11. Zibens pareizrakstība (1980)
    dd 12. Si minors (1982)
    dd 13. Viņu adrese — taiga (1966)
    dd 14. Visāda garuma stundas (1974)
    dd 15. Ar pūces spalvu (1983)

    dt Vāczemnieks — LAIMONIS VĀCZEMNIEKS
    dd 1. Vasara Ziedu ciemā (1958)
    dd 2. Kad apses tvīkst (1966)
    dd 3. Siltās rokas (1961)
    dd 4. Līvsalas zēni (1966)
    dd 5. Stepiņš un viņa brigāde (1978)
    dd 6. Noslēpumu grāmata (1978)
    dd 7. Pie jautrā Vāczemnieka (1979)
    dd 8. Ceļamaize (1984)

    dt Vaidars — TĀLIS VAIDARS
    dd 1. Ragu mūzika (1972)

    dt Valdis — VALDIS
    dd 1. Staburaga bērni (1955)

    dt Valeinis — VITOLDS VALEINIS
    dd 1. Poētika (1961)
    dd 2. Latviešu lirika XX gadsimta sākumā (1900-1917) (1973)
    dd 3. Latviešu lirikas vēsture (1976)

    dt Vanags — JŪLIJS VANAGS
    dd 1. Saules vārtos (1946)
    dd 2. Satikšanās krastā (1948)
    dd 3. Stāsti par Daugavu (1948)
    dd 4. Dziļais arums (1950)
    dd 5. Sudraba sliedes (1951)
    dd 6. No Neretas līdz jūrai (1951)
    dd 7. Izlase (1953)
    dd 8. Stāsti par Daugavu un Lielupi (1954)
    dd 9. Mazā Mikiņa lielie darbi (1955)
    dd 10. Klibais vilks (1958)
    dd 11. Meža dziesma (1967)
    dd 12. Gadi (1973)
    dd 13. Pēdas liedagā (1978)
    dd 14. Vēstules no tālā ceļa (1978)

    dt Vanags, Rokpelnis — JŪLIJS VANAGS, FRICIS ROKPELNIS
    dd 1. Ceļa cirtēji (1946)

    dt Vēbers — JĀNIS VĒBERS
    dd 1. Padomju civiltiesības [I daļa] (1979)

    dt Veģet — M. Galeniece, L. Tabaka, K. Birkmane. Latvijas PSR veģetācija (1958)

    dt Veidemane — RUTA VEIDEMANE
    dd 1. Latviešu valodas leksiskā sinonīmija (1970)

    dt Veidenbaums — EDUARDS VEIDENBAUMS
    dd I—II. Kopoti raksti, I—II sēj. (1961)
    dd 1. Izlase (1952)
    dd 2. Dzejoļi (1958)

    dt Veisteris — PĒTERIS VEISTERIS
    dd 1. Rokasgrāmata dārzeņu audzētājiem (1957)

    dt Vējāns — ANDRIS VEJANS
    dd 1. Jaunība (1953)
    dd 2. Saule kāpj augstāk (1957)
    dd 3. Skola pie ezera (1957)
    dd 4. Sakliedzas kaijas (1959)
    dd 5. Savas lakstīgalas meklētāji (1969)
    dd 6. Buksu vilnis (1974)
    dd 7. Balts kuģis zilos ūdeņos (1974)
    dd 8. Un sākās viss no svilpaunieka (1979)
    dd 9. Stundinieks vestes kabatā (1984)

    dt Vendeliņš — VENDELIŅŠ
    dd 1. Individuālo dzīvojamo māju celtniecība (1958)

    dt Vēriņa - SOFIJA VĒRIŅA
    dd 1. Dažādi vokālie žanri (1959)
    dd 2. Uvertīra (1959)

    dt Ves — žurnāls „Veselība”

    dt Veselis — JĀNIS VESELIS
    dd 1. Proza (1991)
    dd 2. Dievu gulta (1991)

    dt Vēstis — žurnāls „Latvijas PSR Zinātņu Akadēmijas Vēstis”

    dt Vēsture — I—III. Latvijas PSR vēsture, I—III sēj. (1953—1959)

    dt Vēveris — EIŽENS VĒVERIS
    dd 1. Cilvēks aiziet pēc saules (1972)
    dd 2. Iedēstiet rozes zemē nolādētā (1971)

    dt Viese — SAULCERĪTE VIESE
    dd 1. Randenes vasara (1965)
    dd 2. Pasaules dziesma (1973)
    dd 3. Aspazija (1975)
    dd 4. Raganiezis (1976)
    dd 5. Radīšanas brīnums (1980)
    dd 6. Jaunais Rainis (1982)

    dt Viese, Bebrišs — SAULCERĪTE VIESE, JŪLIJS BEBRIŠS
    dd 1. Zvaigzne iet un deg, un... (1969)

    dt Vīksna — VITA VĪKSNA
    dd 1. Pirmā pilsēta (1975)
    dd 2. Zemes zaļā laime (1974)

    dt Vilde — JĀNIS VILDE
    dd 1. Bērnu trieka (1950)

    dt Vīlips — PĀVILS VĪLIPS
    dd I—II. Izlase, I—II sēj. (1962)
    dd 1. Tuksnešu dārzos (1949)
    dd 2. Fabrika pie Gaujas (1949)
    dd 3. Lapas ugunskurā (1960)
    dd 4. Baltās ābeles dziesma (1964)
    dd 5. Avota lāses (1966)

    dt Vilks — ĒVALDS VILKS
    dd 1. Cilvēki ar vienu patiesību (1949)
    dd 2. Rudens dienās (1955)
    dd 3. Zaļais koks (1960)
    dd 4. Piecas minūtes par vēlu (1961)
    dd 5. Lāga zēni (1966)
    dd 6. Stāsti (1963)
    dd 7. Labs paziņa. Stāstu izlase (1973)

    dt Vimba — EDGARS VIMBA
    dd 1. Sēnes uzturā (1954)

    dt Virza — EDVARTS VIRZA
    dd 1. Straumēni (1989)

    dt Visp ķir — J. Volkolakovs, Ā. Leiše. Vispārīgā ķirurģija (1977)

    dt Vit — A. Kirhenšteins, R. Kukaine. Vitamīni (1957)

    dt Vītoliņš — JĒKABS VĪTOLIŅŠ
    dd 1. Alfrēds Kalniņš (1968)
    dd 2. Mūzikas kritika. Izlase (1973)

    dt Vītoliņš, Krasinska — JĒKABS VĪTOLIŅŠ, LIJA KRASINSKA
    dd 1. Latviešu mūzikas vēsture, I [sēj.] (1972)

    dt VSK — Vissavienības sporta klasifikācija (1979)

    dt Vulfs — EDUARDS VULFS
    dd 1. Ziedi, kas ceļmalā vīst (1960)

    dt Zālīte — ELĪNA ZĀLĪTE
    dd 1. Atgūtā dzimtene (1948)
    dd 2. Vārds sievietēm (1950)
    dd 3. Spēka avots (1951)
    dd 4. Birztaliņā sēņojot (1953)
    dd 5. Agrā rūsa (1956)
    dd 6. Virši zili... (1975)

    dt Zalītis — RAIMONDS ZĀLĪTIS
    dd 1. Slēpošana (1952)

    dt Zeiboltu J — ZEIBOLTU JĒKABS
    dd I—V. Raksti, I—V sēj. (1956)

    dt Zeile — PĒTERIS ZEILE
    dd 1. Personība un vērtības (1979)

    dt Zeltiņš — INDULIS ZELTIŅŠ
    dd 1. Mūsdienu dzīvokļa iekārtošana (1977)

    dt Zemzaris — ULDIS ZEMZARIS
    dd 1. Modeļa pieradināšana (1969)
    dd 2. Uzgleznot sevi (1978)
    dd 3. Prieks laipnībā (1983)
    dd 4. Paradīze mansardā (1988)

    dt Zepe — MILDA ZEPE
    dd 1. Kosmiskie stari (1957)

    dt Ziedonis — IMANTS ZIEDONIS
    dd 1. Dzejnieka dienasgrāmata (1965)
    dd 2. Motocikls (1965)
    dd 3. Sirds dinamīts (1963)
    dd 4. Es ieeju sevī (1968)
    dd 5. Perpendikulārā karote (kopā ar Vitāliju Korotiču un Gunāru Janaiti) (1972)
    dd 6. Kurzemīte, 1. grāmata (1970)
    dd 7. Kā svece deg (1971)
    dd 8. Krāsainas pasakas (1973)
    dd 9. Kurzemīte, 2. grāmata (1974)
    dd 10. Caurvējš (1975)
    dd 11. Epifānijas (1978)
    dd 12. Lāču pasaka (1976)
    dd 13. Man labvēlīgā tumsā (1979)
    dd 14. Ar tikko grieztu ķeizarkroni rokā (1979)
    dd 15. Blēņas un pasakas (1980)
    dd 16. Re, kā (1981)
    dd 17. Poēma par pienu (1977)
    dd 18. L. Damianu, I. Ziedonis. Maize (1982)
    dd 19. Zemes un sapņu smilts (1961)
    dd 20. Pa putu ceļu (1967)
    dd 21. Garainis, kas veicina vārīšanos (1976)
    dd 22. Tik un tā (1985)
    dd 23. Viegli (1993)

    dt Ziemeļnieks — JĀNIS ZIEMEĻNIEKS
    dd 1. Dzeja. Izlase (1960)

    dt Zigmonte — DAGNIJA ZIGMONTE
    dd 1. Bērni un koki aug pret sauli (1959)
    dd 2. Jūras vārti (1960)
    dd 3. Ezera elpa (1965)
    dd 4. Fragments (1971)
    dd 5. Mārsils (1969)
    dd 6. Zilo rūķu gals (1973)
    dd 7. Grāfienes Izabellas ērkšķainais ceļš (1974)
    dd 8. Lidotājs (1978)
    dd 9. Strazdu vakars (1976)
    dd 10. Vanags pār Zāģeriešiem (1979)
    dd 11. Svešinieks (1981)
    dd 12. Savādi, ka snieg (1981)
    dd 13. Dižpurva dzērves (1982)
    dd 14. Laintu lāsts (1984)
    dd 15. Bites dzēliens (1985)
    dd 16. Gausīgais nazis (1988)
    dd 17. Zilais putns Idalgo (1989)
    dd 18. Reminiscences (1986)

    dt Zin M — žurnāls „Zinātne un Mēs”

    dt Zin T — žurnāls „Zinātne un Tehnika”

    dt Zirnītis — ALFRĒDS ZĪRNĪTIS
    dd 1. Laiks un tā paredzēšana (1957)

    dt Zīverts — MĀRTIŅŠ ZĪVERTS
    dd 1. Lugas (1988)
    dd 2. Kamerlugas (1989)

    dt Zool — V. Šalajevs, N. Rikovs. Zooloģija. Mācību grāmata 7. klasei (1963)

    dt Zunde — VELTA ZUNDE
    dd 1. Pasakas par Usmu (1964)
    dd 2. Lejup pa Gauju (1967)

    dt Zutis — JĀNIS ZUTIS
    dd 1. Vidzeme 18. gadsimtenī (1945)

    dt Zv — žurnāls „Zvaigzne”

    dt Zv d — gadalaiku izdevums „Zvaigžņotā debess”
    dd 1. Ziema
    dd 2. Pavasaris
    dd 3. Vasara
    dd 4. Rudens

    dt Zvārguļu E — ZVĀRGUĻU EDVARDS
    dd 1. Dziesminieka sirds (1959)

    dt Zviedris — ARVĪDS ZVIEDRIS
    dd 1. Egle un egļu mežs Latvijas PSR (1960)
