extends ../../common/layout

block append header_scripts
  style.
    .vmiddle {
      vertical-align: middle;
    }
    td.biblio {
      padding: 2rem 2rem 2rem 0;
    }

block content

  h1 Pateicības

  p LLVV sējumu digitalizāciju LU MII Mākslīgā intelekta laboratorija uzsāka 2000. gadu sākumā ar Valsts kultūrkapitāla fonda finansiālu atbalstu. Strukturētas mašīnlasāmās versijas izstrāde un pakāpeniska pilnveide, kā arī integrēšana un uzturēšana vienotajā Tēzaurs.lv vārdnīcu platformā ir notikusi vairāku Valsts pētījumu programmu ietvaros. Atvērta un brīvi pieejama digitālā LLVV vārdnīca nebūtu iespējama arī bez LU Latviešu valodas institūta un apgāda “Zinātne” atbalsta.

  table(style='margin-top: 1rem')
    tbody
      tr
        td.biblio.code
          img(src='/img/funding/vpp_dh.jpg' width=200)
        td(style='width : 20px')
        td.biblio.vmiddle Valsts pētījumu programmas "Humanitāro zinātņu digitālie resursi" projekts Nr. VPP-IZM-DH-2020/1-0001 (2020–2022)
      tr
        td.biblio.code
          img(src='/img/funding/vpp_ni.png' width=200)
        td(style='width : 20px')
        td.biblio.vmiddle Valsts pētījumu programmas "Nacionālā identitāte: valoda, Latvijas vēsture, kultūra un cilvēkdrošība" projekts Nr. 3 (2010–2013)
      tr
        td.biblio.code
          img(src='/img/funding/vpp_letonika.png' width=200)
        td(style='width : 20px')
        td.biblio.vmiddle Valsts pētījumu programmas "Letonika: pētījumi par vēsturi, valodu un kultūru" projekts Nr. 5.14 (2006–2009)
