extends ../../common/layout

block append header_scripts
  style.
    dl {
      display: grid;
      grid-template: auto / 10em 1fr;
    }

    dt, dd {
      margin: 0;
      padding: .3em .5em;
      //- border-top: 1px solid rgba(0,0,0,.1); 
    }

block content

  h1 Saīsinājumi 

  dl
    dt adj.
    dd adjektīvs

    dt agr.
    dd agrotehnika

    dt akuz.
    dd akuzatīvs

    dt anat.
    dd anatomija

    dt antr.
    dd antropoloģija

    dt apst.
    dd apstākļa vārds

    dt apv.
    dd apvidvārds, dialektāla nozīme, nozīmes nianse 

    dt arheol.
    dd arheoloģija

    dt arhit.
    dd arhitektūra

    dt astr.
    dd astronomija

    dt atgriez.
    dd atgriezeniskais (vietniekvārds)

    dt av.
    dd aviācija

    dt bakt.
    dd bakterioloģija

    dt bibl.
    dd biblisms

    dt bioķīm.
    dd bioķīmija

    dt biol.
    dd bioloģija

    dt biškop.
    dd biškopība

    dt bot.
    dd botānika

    dt būvn.
    dd būvniecība

    dt dat.
    dd datīvs

    dt Dem., dem.
    dd deminutīvs

    dt Divd., divd.
    dd divdabis

    dt divsk.
    dd divskaitlis

    dt dsk.
    dd daudzskaitlis

    dt ekon.
    dd ekonomika

    dt el.
    dd elektrotehnika

    dt ent.
    dd entomoloģija

    dt etn.
    dd etnogrāfija

    dt farm.
    dd farmakoloģija

    dt filoz.
    dd filozofija

    dt fin.
    dd finanšu termins

    dt fiz.
    dd fizika

    dt fiziol.
    dd fizioloģija

    dt fizk.
    dd fiziskā kultūra un sports

    dt folk.
    dd folklora

    dt fot.
    dd fototehnika

    dt glezn.
    dd glezniecība

    dt grāmatv.
    dd grāmatvedība

    dt ģen.
    dd ģenitīvs

    dt ģeod.
    dd ģeodēzija

    dt ģeogr.
    dd ģeogrāfija

    dt ģeol.
    dd ģeoloģija

    dt ģeom.
    dd ģeometrija

    dt hidrotehn.
    dd hidrotehnika

    dt hist.
    dd historiogrāfija; attiecas uz vēstures zinātni

    dt hum.
    dd humoristiska ekspresīvā nokrāsa

    dt iht.
    dd ihtioloģija

    dt imperf.
    dd imperfektīva forma

    dt instr.
    dd instrumentālis

    dt intrans.
    dd intransitīvs

    dt iron.
    dd ironiska ekspresīvā nokrāsa

    dt izsauk.
    dd izsauksmes vārds

    dt jaut.
    dd jautājamais (vietniekvārds)

    dt jur.
    dd jurisprudence

    dt jūrn.
    dd jūrniecība

    dt kalnr.
    dd kalnrūpniecība

    dt kibern.
    dd kibernētika

    dt kap.
    dd attiecas uz kapitālistisko iekārtu, kapitālistisko sabiedrību 

    dt konj.
    dd konjugācija

    dt kopdz.
    dd kopdzimtes (lietvārds)

    dt kul.
    dd kulinārija

    dt ķīm.
    dd ķīmija

    dt lauks.
    dd lauksaimniecība

    dt lietv.
    dd lietvārds

    dt literat.
    dd literatūrzinātne

    dt loģ.
    dd loģika

    dt lok.
    dd lokatīvs

    dt mat.
    dd matemātika

    dt med.
    dd medicīna

    dt medn.
    dd medniecība

    dt meh.
    dd mehānika

    dt meteorol.
    dd meteoroloģija

    dt mežs.
    dd mežsaimniecība

    dt mil.
    dd militārās zinātnes

    dt min.
    dd mineraloģija

    dt mit.
    dd mitoloģija

    dt mūz.
    dd mūzika

    dt nāk.
    dd nākotne

    dt neakt.
    dd neaktuāls

    dt nelok.
    dd nelokāms (vārds)

    dt nenot.
    dd nenoteiktā (galotne)

    dt nevēl.
    dd literārajā valodā nevēlams

    dt niev.
    dd nievīga ekspresīvā nokrāsa

    dt Nol.
    dd noliegums, noliegts (vārdam ar priedēkli ne-)

    dt noliedz.
    dd noliedzamais (vietniekvārds)

    dt nom.
    dd nominatīvs

    dt norād.
    dd norādāmais (vietniekvārds)

    dt not.
    dd noteiktā (galotne)

    dt noteic.
    dd noteicamais (vietniekvārds)

    dt novec.
    dd novecojis, novecojošs

    dt ornit.
    dd ornitoloģija

    dt pag.
    dd pagātne

    dt paleont.
    dd paleontoloģija

    dt pārn.
    dd pārnestā nozīme

    dt part.
    dd partikula

    dt pers.
    dd persona

    dt pieder.
    dd piederības (vietniekvārds)

    dt poēt.
    dd poētiska stilistiskā nokrāsa

    dt pol.
    dd politika

    dt poligr.
    dd poligrāfija

    dt pried.
    dd priedēklis

    dt priev.
    dd prievārds

    dt psih.
    dd psiholoģija

    dt Refl., refl.
    dd refleksīvs (verbs)

    dt rel.
    dd reliģija

    dt s.
    dd sieviešu dzimte

    dt sal.
    dd salīdzinājums

    dt sar.
    dd sarunvalodas stilistiskā nokrāsa

    dt Sk.
    dd skaties

    dt skait.
    dd skaitļa vārds

    dt t. poēt. 
    dd tautas poētisms, folkloras valodai raksturīga stilistiskā nokrāsa 

    dt tag.
    dd tagadne

    dt tehn.
    dd tehnika

    dt tekst.
    dd tekstilrūpniecība

    dt telev.
    dd televīzija

    dt tēln.
    dd tēlniecība

    dt trans.
    dd transitīvs

    dt u. tml.
    dd un tamlīdzīgi

    dt utt.
    dd un tā tālāk

    dt v.
    dd vīriešu dzimte

    dt val.
    dd valodniecība

    dt var.
    dd variants

    dt vēst.
    dd vēsturisks, attiecas uz agrākajiem laikiem

    dt vet.
    dd veterinārija

    dt vienk.
    dd vienkāršrunas stilistiskā nokrāsa

    dt vietn.
    dd vietniekvārds

    dt vispārin.
    dd vispārināmais (vietniekvārds)

    dt vsk.
    dd vienskaitlis

    dt zool.
    dd zooloģija

    dt zvejn.
    dd zvejniecība